<section
	class="view modelWorkspace workspaceConceptual"
>
	<header class="navbar navbar-default navbar-fixed-top">
		<ul class="nav navbar-nav pull-left">
			<li>
				<a class="back-button" href="#" data-ui-sref="main">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>
		</ul>

		<div class="navbar-header">
			<strong class="navbar-brand">BR Modelo Web</strong>
		</div>

		<img
			src="../../img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
	</header>

	<div class="mainContent">
		<section class="stencil-list" id="stencil-holder">
			<!-- Insert elemes to be used in model constrution -->
		</section>

		<section id="content" class="model-area">
			<header class="workspace-header">
				<div class="page-header clearfix">
					<h2 class="h4 pull-left">Modelo conceitual de: {{$ctrl.model.name}}</h2>
					<aside class="header-actions pull-right">
						<a class="br-button" data-ng-click="$ctrl.saveModel()">Salvar</a>
					</aside>
				</div>
				<ul class="nav navbar-nav tool-icons">
					<li>
						<a data-ng-click="$ctrl.undoModel()" title="Desfazer"
							><i class="fa fa-reply"></i
						></a>
					</li>
					<li class="divider">
						<a data-ng-click="$ctrl.redoModel()" title="Refazer"
							><i class="fa fa-share"></i
						></a>
					</li>
					<li>
						<a data-ng-click="$ctrl.zoomIn()" title="Zoom +"
							><i class="fa fa-search-plus"></i
						></a>
					</li>
					<li class="divider">
						<a data-ng-click="$ctrl.zoomOut()" title="Zoom -"
							><i class="fa fa-search-minus"></i
						></a>
					</li>
					<li>
						<a data-ng-click="$ctrl.duplicateModel($ctrl.model)" title="Duplicar modelo"
							><i class="fa fa-files-o"></i
						></a>
					</li>
					<li class="divider">
						<a data-ng-click="$ctrl.convertModel($ctrl.model)" title="Gerar modelagem lógica"
							><i class="fa fa-table"></i
						></a>
					</li>
					<li class="divider">
						<a data-ng-click="$ctrl.print()" title="Imprimir"
							><i class="fa fa-print"></i
						></a>
					</li>
				</ul>
				<aside class="feedback">
					<div
						class="message success sd"
						data-ng-class="{'hide': !$ctrl.feedback.showing}"
					>
						<p>{{ $ctrl.feedback.message }}</p>
					</div>
					<!-- End .message -->
				</aside>
				<!-- End #feedback -->
			</header>
			<!-- End .workspace-header -->
		</section>

	  <sidebar-control-conceptual></sidebar-control-conceptual>

	<a class="br-help" href="https://github.com/brmodeloweb/brmodelo-app/issues/new/choose" target="_blank" rel="noopener noreferrer" title="Reportar bug ou requisitar funcionalidade">
		<i class="fa fa-bug" aria-hidden="true"></i>
	</a>

	</div>
	<!-- End .mainContent -->
</section>
<!-- End .view -->