<aside class="model-properties" data-ng-class="{'active': $ctrl.visible}">

  <span class="action" data-ng-click="$ctrl.changeVisible()">
    <i class="fa angle-double-icon"
      data-ng-class="!$ctrl.visible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
  </span>

  <div class="properties-content">

    <div class="form-group" ng-if="$ctrl.configuration.emptyState">
      <div class="empty-state">
        <label for="entry-name">Selecione um elemento para editar</label>
      </div>
    </div><!-- End .form-group -->

    <div class="form-group" ng-if="($ctrl.configuration.entity)">
      <div class="form-group">
        <label for="entry-name">Nome</label>
        <input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value" ng-change="$ctrl.updateName($ctrl.selectedElement.value)" />
      </div><!-- End .form-group -->

      <div class="form-group clearfix">
        <label for="">Especializar</label>
          <dropdown
            on-select="$ctrl.extendEntity(selected)"
            selected="{name: 'Selecione', type: 'empty'}"
            options="[{name: '(t, d)', type: '(t, d)'}, {name: '(t, c)', type: '(t, c)'}, {name: '(p, d)', type: '(p, d)'}, {name: '(p, c)', type: '(p, c)'}]">
          </dropdown>
      </div>

      <div class="form-group">
        <label for="">Auto relacionamento</label>
        <div>
          <a class="br-button" ng-click="$ctrl.addAutoRelationship()">Adicionar</a>        
        </div>
      </div>
    </div><!-- End .form-group -->

    <div class="form-group" ng-if="($ctrl.configuration.link)">
      <div class="form-group clearfix">
        <label for="">Cardinalidade</label>
          <dropdown
            on-select="$ctrl.updateCardinality(selected)"
            selected="{name: $ctrl.selectedElement.value.cardinality, type: $ctrl.selectedElement.value.cardinality}"
            options="[{name: '(0, n)', type: '(0, n)'}, {name: '(0, 1)', type: '(0, 1)'}, {name: '(1, 1)', type: '(1, 1)'}, {name: '(1, n)', type: '(1, n)'}]">
          </dropdown>
      </div>
      
      <div class="form-group">
        <label for="entry-name">Papel</label>
        <input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value.role" ng-change="$ctrl.updateLinkRole($ctrl.selectedElement.value.role)" />
      </div><!-- End .form-group -->

      <div class="form-group">
        <div class="checkbox">
          <label for="weak">
            <input id="weak" type="checkbox" ng-model="$ctrl.selectedElement.value.weak"
              ng-click="$ctrl.updateLinkWeak(!$ctrl.selectedElement.value.weak)" /> Fraca
          </label>
        </div>
      </div><!-- End .form-group -->

    </div><!-- End .form-group -->

    <div class="form-group" ng-if="($ctrl.configuration.extension)">
      <div class="form-group clearfix">
        <label for="">Editar</label>
          <dropdown
            on-select="$ctrl.updateName(selected.type)"
            selected="{name: $ctrl.selectedElement.value, type: $ctrl.selectedElement.value}"
            options="[{name: '(t, d)', type: '(t, d)'}, {name: '(t, c)', type: '(t, c)'}, {name: '(p, d)', type: '(p, d)'}, {name: '(p, c)', type: '(p, c)'}]">
          </dropdown>
      </div>
    </div><!-- End .form-group -->

    
    <div class="form-group" ng-if="($ctrl.configuration.attribute)">
      <div class="form-group">
        <label for="entry-name">Nome</label>
        <input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value.name" ng-change="$ctrl.updateAttributeName($ctrl.selectedElement.value.name)" />
      </div>
      <div class="form-group clearfix">
        <label for="">Cardinalidade</label>
          <dropdown
            on-select="$ctrl.updateAttributeCardinality(selected)"
            selected="{name: $ctrl.selectedElement.value.cardinality, type: $ctrl.selectedElement.value.cardinality}"
            options="[{name: '(0, n)', type: '(0, n)'}, {name: '(0, 1)', type: '(0, 1)'}, {name: '(1, 1)', type: '(1, 1)'}, {name: '(1, n)', type: '(1, n)'}]">
          </dropdown>
      </div>
    </div><!-- End .form-group -->

    <div class="form-group" ng-if="($ctrl.configuration.key)">
      <label for="entry-name">Nome</label>
      <input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value" ng-change="$ctrl.updateName($ctrl.selectedElement.value)" />
    </div><!-- End .form-group -->

    <div class="form-group" ng-if="($ctrl.configuration.relationship)">
      <label for="entry-name">Nome</label>
      <input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value" ng-change="$ctrl.updateName($ctrl.selectedElement.value)" />
    </div><!-- End .form-group -->



    <div class="form-group" ng-show="entitySelected == 'RELATIONSHIP'">
      <a ng-click="createAssociative()"> Transformar Associativa </a>
    </div><!-- End .form-group -->

  </div><!-- End .properties-content -->
</aside><!-- End .model-properties -->