<div class="public">
	<div class="container">
		<img
			src="../../img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
		<section class="register-page">
			<header class="public-logo">
				<h1>{{ 'Create account' | translate }}</h1>
			</header>
			<div class="alert alert-danger" role="alert" data-ng-class="{'hide': !$ctrl.feedback.showing}">
				<p>{{ $ctrl.feedback.message }}</p>
			</div>
			<form class="register-form" name="registerForm" ng-submit="$ctrl.submitForm(registerForm.$valid)" novalidate>
				<div class="form-group">
					<label for="exampleInputEmail1">{{ 'Name' | translate }}</label>
					<input
						type="name"
						name="name"
						class="form-control input-lg"
						id="name"
						placeholder="{{ 'Name' | translate }}"
						autocomplete="off"
						required
						ng-model="$ctrl.credentials.username"
						ng-class="{'error': registerForm.name.$invalid && (!registerForm.name.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">{{ 'Email' | translate }}</label>
					<input
						type="email"
						name="email"
						class="form-control input-lg"
						id="userEmail"
						placeholder="{{ 'Email' | translate }}"
						autocomplete="off"
						required
						data-ng-model="$ctrl.credentials.email"
						data-ng-class="{'error': registerForm.email.$invalid && (!registerForm.email.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">{{ 'Password' | translate }}</label>
					<input
						type="password"
						name="password"
						class="form-control input-lg"
						id="userPassword"
						placeholder="{{ 'Password' | translate }}"
						autocomplete="off"
						required
						data-ng-model="$ctrl.credentials.password"
						data-ng-class="{'error': registerForm.password.$invalid && (!registerForm.password.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<button type="submit" class="br-button btn-block">{{ 'Create account' | translate }}</button>
			</form>
			<aside class="account-options">
				<div class="navigation">
					<a href="#" tabindex="1" data-ui-sref="login">{{ 'Back' | translate }}</a>
				</div>
			<aside>
		</section>
	</div>
	<bug-report-button></bug-report-button>
</div>
