<header
	class="mainHeader cf"
	data-ng-controller="mainController"
	data-ng-include=""
	src="'view/mainHeader.html'"
></header>

<div class="userWorkspace">
	<div class="conceptual" data-ng-controller="conceptualController" data-ng-init="initView()">

		<section id="stencil-holder" class="componentsList">
			<header class="vhide">
				<h2>Models list</h2>
			</header><!-- List of models used by the user -->
		</section><!-- End .componentsList -->

		<section id="content" class="modelWorkspace">
			<aside class="modelActions">
				<a class="button style1" ng-click="saveModel()">Salvar</a>
			</aside>
			</aside><!-- Here is the space used by the user to work -->
		</section>	<!-- End .modelWorkspace -->

		<aside class="modelProperties" data-ng-class="{'active': editionVisible}">
			<!-- <button class="action" > -->
			<span class="action" data-ng-click="changeVisible()">
				<i class="fa angle-double-icon" data-ng-class="!editionVisible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
			</span><!-- </button> -->
			<div class="field">
				<label class="fieldLabel">Nome</label>
				<input class="fieldInput" type="text" data-ng-model="selectedElement.value" ng-blur="applyChanges()"> </input>
			</div><!-- End .field -->
			<!-- When an element is selected, it's properties are showed here. -->
		</aside>	<!-- End .modelProperties -->

	</div>	<!-- End .conceptual -->
</div><!-- End .userWorkspace -->