<div class="conceptual" data-ng-controller="conceptualController">
	<section id="stencil-holder" class="componentsList">
		<header class="vhide">
			<h2>Models list</h2>
		</header>
		<!-- List of models used by the user -->
	</section><!-- End .componentsList -->
	<section id="content" class="modelWorkspace">
		<!-- Here is the space used by the user to work -->
	</section><!-- End .modelWorkspace -->
	<aside class="modelProperties" ng-class="{'active': editionVisible}">
		<p class="action" ng-click="changeVisible()" > << </p>
		<!-- When an element is selected, it's properties are showed here. -->
	</aside><!-- End .modelProperties -->
</div><!-- End .conceptual -->