<div class="content public">
	<section class="userLogin" data-ng-controller="LoginController">

		<aside class="feedback">
			<div class="wrapper">
				<div class="message error sr loginFeeback" data-ng-class="{'hide': !config.usernotfound}">
					<p>Login or password incorrect :(</p>
				</div><!-- End .message -->
			</div><!-- End .wrapper -->
		</aside><!-- End #feedback -->

		<div class="wrapper">

			<header class="publicHeader">
				<h1 class="logo">
					<strong class="vhide">BR Modelo</strong>
					<img src="imgs/120_01.png" alt="BRModelo Logo">
				</h1><!-- End .logo -->
			</header>

			<form class="loginForm publicBox">
				<div class="field">
					<label for="userEmail" class="fieldLabel">Email</label>
					<input
						id="userEmail"
						class="fieldInput"
						type="text"
						placeholder="Email"
						data-ng-model="credentials.username"
						data-ng-class="{'error': config.submitted && !config.validmail}"
					/>
				</div><!-- End .field -->
				<div class="field">
					<label for="userPassword" class="fieldLabel">Senha</label>
					<input
						id="userPassword"
						class="fieldInput"
						type="password"
						class="form-control"
						placeholder="Password"
						data-ng-model="credentials.password"
						ng-class="{'error': config.submitted && !config.validpassword}"
					/>
				</div><!-- End .field -->
				<div class="actions">
					<button
						type="button"
						class="button style1 block"
						data-ng-click="login(credentials)"
					>Login</button>
				</div><!-- End .actions -->
			</form><!-- End .loginForm -->

			<footer class="callToAction">
				<button type="button" class="button block" data-ng-click="register()">Create account</button>
				<button type="button" class="button block">Forgot password</button>
			</footer><!-- End .callToAction -->

		</div><!-- End .wrapper -->
	</section><!-- End .userLogin -->


	<section class="userRegister ">
		<header class="vhide">
			<h2>Create account</h2>
		</header>
		<aside class="feedback">
			<div class="wrapper">
				<div class="message error sr" data-ng-class="{'hide': !config.useralreadyexist}">
					<p>This user already exist :(</p>
				</div>
			</div><!-- End .wrapper -->
		</aside><!-- End .feedback -->

		<form class="registerForm publicBox hide">
			<div class="field">
				<label for="name" class="fieldLabel">Name</label>
				<input
					id="name"
					class="fieldInput"
					type="text"
					placeholder="Your Name"
					data-ng-class="{'error': config.submitted && !config.validname}"
					data-ng-model="credentials.username"
				/>
			</div><!-- End .field -->

			<div class="field">
				<label for="mail" class="fieldLabel">Email</label>
				<input
					id="mail"
					class="fieldInput"
					type="text"
					placeholder="Your email"
					data-ng-model="credentials.email"
					data-ng-class="{'error': config.submitted && !config.validmail}"
				/>
			</div><!-- End .field -->

			<div class="field">
				<label for="password" class="fieldLabel">Password</label>
				<input
					id="password"
					class="fieldInput"
					type="password"
					placeholder="Your Password"
					data-ng-model="credentials.password"
					data-ng-class="{'error': config.submitted && !config.validpassword}"
				/>
			</div><!-- End .field -->

			<div class="field">
				<label for="re-password" class="fieldLabel">Confirm password</label>
				<input
					id="re-password"
					class="fieldInput"
					type="password"
					placeholder="Confirm Password"
					data-ng-model="repassword"
					data-ng-class="{'error': config.submitted && !config.validpassword}"
				/>
			</div><!-- End .field -->

			<div class="actions">
				<button type="button" class="button style3 block" data-ng-click="cancel()">Cancel</button>
				<button type="button" class="button style2 block" data-ng-click="register(credentials, repassword)">Register</button>
			</div><!-- End .actions -->
		</form><!-- End .registerForm -->

	</section><!-- End .userRegister -->
</div><!-- End .content -->