<header class="mainHeader" data-ng-controller="mainController">
	<h1 class="logo">
		<strong class="vhide">BR Modelo</strong>
		<img src="imgs/120_01.png" alt="BRModelo Logo">
	</h1><!-- End .logo -->
	<nav class="mainNav">
		<a data-ui-sref="workspace.main">Workspace</a>
		<a ng-click="newModel()">Conceitual</a>
		<a data-ui-sref="workspace.logic">Lógico</a>
	</nav><!-- End .mainNav -->
	<aside class="userActions cf">
		<div class="dropdown">
			<button
				class="btn btn-default dropdown-toggle"
				type="button"
				id="dropdownMenu1"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="true"
			>
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#" ng-click="logout">Sair</a></li>
			</ul>
		</div><!-- End .dropdown -->
	</aside><!-- End .userActions -->
</header><!-- End .mainHeader -->

<div class="content">
	<section class="userWorkspace" data-ng-controller="listController">
		<header class="contentHeader">
			<div class="wrapper">
				<h2 class="headerText">Projects list</h2>
			</div><!-- End .wrapper -->
		</header><!-- End .contentHeader -->
		<div class="projectsList">
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th><strong>Name</strong></th>
							<th><strong>Kind</strong></th>
							<th><strong>Author</strong></th>
							<th><strong>Date</strong></th>
							<th><strong class="vhide">Actions</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr ng-repeat="model in models">
							<td>{{model.name}}</td>
							<td>{{model.type}}</td>
							<td>{{model.who}}</td>
							<td>{{model.created}}</td>
							<td> <a ng-click="openModel(model)"> open </a> </td>
						</tr>
				</tbody>
				</table>
			</div><!-- End .wrapper -->
		</div><!-- End .projectsList -->
	</section><!-- End .userWorkspace -->
</div><!-- End .content -->