<h1 class="logo">
	<strong class="vhide">BR Modelo</strong>
	<img src="imgs/120_01.png" alt="BRModelo Logo">
</h1><!-- End .logo -->
<nav class="mainNav">
	<a data-ui-sref="main">Workspace</a>
	<a ng-click="newModel()">Conceitual</a>
	<a data-ui-sref="logic">Lógico</a>
</nav><!-- End .mainNav -->
<aside class="userActions cf">
	<div class="dropdownButton">
		<span class="button">Actions</span>
		<ul>
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#" ng-click="logout">Sair</a></li>
		</ul><!-- End .dropdownButton -->
	</div><!-- End .dropdown -->
</aside><!-- End .userActions -->