<header
	class="mainHeader"
	data-ng-controller="mainController"
	data-ng-include=""
	src="'view/mainHeader.html'"
></header>

</div><!-- End . -->
<div class="content">
	<section class="userWorkspace" data-ng-controller="listController">
		<header class="contentHeader">
			<div class="wrapper">
				<h2 class="headerText">Projects list</h2>
			</div><!-- End .wrapper -->
		</header><!-- End .contentHeader -->
		<div class="projectsList">
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th><strong>Name</strong></th>
							<th><strong>Kind</strong></th>
							<th><strong>Author</strong></th>
							<th><strong>Date</strong></th>
							<th><strong class="vhide">Actions</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr>
							<td>First project</td>
							<td>Logic</td>
							<td>Roberval</td>
							<td>20/02/2016</td>
							<td> <a ng-click="openModel(model)">Open</a> </td>
						</tr>
						<tr ng-repeat="model in models">
							<td>{{model.name}}</td>
							<td>{{model.type}}</td>
							<td>{{model.who}}</td>
							<td>{{model.created}}</td>
							<td> <a ng-click="openModel(model)"> open </a> </td>
						</tr>
				</tbody>
				</table>
			</div><!-- End .wrapper -->
		</div><!-- End .projectsList -->
	</section><!-- End .userWorkspace -->
</div><!-- End .content -->