<section
	class="view modelWorkspace workspaceLogic"
>

	<header class="navbar navbar-default navbar-fixed-top">
		<ul class="nav navbar-nav pull-left">
			<li>
				<a class="back-button" href="#" data-ui-sref="main">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>
		</ul>

		<div class="navbar-header">
			<strong class="navbar-brand">BR Modelo Web</strong>
		</div>
		<img
			src="../../img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
	</header>

	<section class="mainContent">
		<section class="stencil-list" id="stencil-holder">
			<!-- Insert elemes to be used in model constrution -->
		</section>

		<section id="content" class="model-area">
			<header class="workspace-header">
				<div class="page-header clearfix">
					<h2 class="h4 pull-left">Modelo lógico de: {{$ctrl.model.name}}</h2>
					<aside class="header-actions pull-right">
						<a class="br-button" data-ng-click="$ctrl.saveModel()">Salvar</a>
					</aside>
				</div>
				<ul class="nav navbar-nav tool-icons">
					<li><a data-ng-click="$ctrl.undoModel()" title="Desfazer"><i class="fa fa-reply"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.redoModel()" title="Refazer"><i class="fa fa-share"></i></a></li>
					<li><a data-ng-click="$ctrl.zoomIn()" title="Zoom +"><i class="fa fa-search-plus"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.zoomOut()" title="Zoom -"><i class="fa fa-search-minus"></i></a></li>
					<li><a data-ng-click="$ctrl.duplicateModel()" title="Duplicar modelo"><i class="fa fa-files-o"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.generateSQL()" title="Gerar SQL"><i class="fa fa-database"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.print()" title="Imprimir"><i class="fa fa-print"></i></a></li>
				</ul>
				<aside class="feedback">
					<div class="message success sd" data-ng-class="{'hide': !$ctrl.feedback.showing}">
						<p>{{ $ctrl.feedback.message }}</p>
					</div><!-- End .message -->
				</aside><!-- End #feedback -->
			</header><!-- End .workspace-header -->

			<aside class="model-properties" data-ng-class="{'active': $ctrl.editionVisible}">

				<span class="action" data-ng-click="$ctrl.changeVisible()">
					<i class="fa angle-double-icon" data-ng-class="!$ctrl.editionVisible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
				</span>

				<div class="properties-content" ng-show="$ctrl.selectedElement != null">

					<div class="form-group">
						<label for="entry-name">Nome</label>
						<input
							id="entry-name"
							type="text"
							class="form-control"
							ng-model="$ctrl.selectedName"
							ng-change="$ctrl.changeName()"
						/>
					</div><!-- End .form-group -->

					<section class="columnsList">
						<header class="clearfix">
							<label>Colunas</label>
							<i class="fa fa-plus-circle addColumn" aria-hidden="true" ng-click="$ctrl.showAddColumn(true)"></i>
						</header>

						<div class="columnItem" ng-show="$ctrl.addColumnVisible">
							<div class="form-group">
								<label for="column-name">Nome</label>
								<input
									id="entry-name"
									type="text"
									class="form-control"
									ng-model="$ctrl.addColumnModel.name"
								/>
							</div>

							<div class="form-group clearfix">
								<label for="">Tipo</label>
									<dropdown
										on-select="$ctrl.selectAddType(selected)"
										selected="{name: 'INT', type: 'ORIGEM'}"
										options="[{name: 'DATE', type: 'DATE'}, {name: 'FLOAT', type: 'FLOAT'}, {name: 'VARCHAR(n)', type: 'VARCHAR(n)'}, {name: 'CHAR(n)', type: 'CHAR(n)'},  {name: 'INT', type: 'INT'}]">
									</dropdown>
							</div>

							<div class="checkbox">
								<label for="c1">
									<input
										id="c1"
										type="checkbox"
										ng-model="$ctrl.addColumnModel.PK"
									/>PK
								</label>
							</div>

							<div class="checkbox">
								<label for="c2">
									<input
										id="c2"
										type="checkbox"
										ng-model="$ctrl.addColumnModel.FK"
									/>FK
								</label>
							</div>

							<div class="form-group clearfix">
								<label for="">Origem</label>
									<dropdown
										on-select="$ctrl.selectAddTableOrigin(selected)"
										selected="{name: 'ORIGEM', type: 'ORIGEM'}"
										options="$ctrl.tableNames">
									</dropdown>
							</div>

							<div class="actions clearfix">
								<i class="fa fa-check-circle add" aria-hidden="true" ng-click="$ctrl.addColumn($ctrl.addColumnModel)"></i>
								<i class="fa fa-times-circle cancel" aria-hidden="true" ng-click="$ctrl.showAddColumn(false)"></i>
							</div>
						</div><!-- End .columnItem -->

						<div class="columnItem" ng-repeat="column in $ctrl.columns track by $index">
							<label
								draggable="true"
								ng-click="$ctrl.editionColumnMode(column, $index)"
								ng-show="!column.expanded"
							>{{column.name}}</label>
							<i
								class="fa fa-trash"
								aria-hidden="true"
								ng-click="$ctrl.deleteColumn(column, $index); $event.stopPropagation();"
							></i>

							<div class="columnDetails" ng-show="column.expanded">
								<div class="form-group">
									<label for="">Nome</label>
									<input
										id=""
										type="text"
										class="form-control"
										ng-model="$ctrl.editColumnModel.name"
									/>
								</div>

								<div class="form-group clearfix">
									<label for="">Tipo</label>
										<dropdown
											on-select="$ctrl.selectEditType(selected)"
											selected="{name: column.type, type: column.type}"
											options="[{name: 'DATE', type: 'DATE'}, {name: 'FLOAT', type: 'FLOAT'}, {name: 'VARCHAR(n)', type: 'VARCHAR(n)'}, {name: 'CHAR(n)', type: 'CHAR(n)'},  {name: 'INT', type: 'INT'}]">
										</dropdown>
								</div>

								<div class="checkbox">
									<label for="c1">
										<input
											id="c1"
											type="checkbox"
											ng-model="$ctrl.editColumnModel.PK"
										/>PK
									</label>
								</div>

								<div class="checkbox">
									<label for="c2">
										<input
											id="c2"
											type="checkbox"
											ng-model="$ctrl.editColumnModel.FK"
										/>FK
									</label>
								</div>

								<div class="form-group clearfix">
									<label for="">Origem</label>
										<dropdown
											on-select="$ctrl.selectAddTableOrigin(selected)"
											selected="{name: 'ORIGEM', type: 'ORIGEM'}"
											options="$ctrl.tableNames">
										</dropdown>
								</div>

								<div class="actions clearfix">
									<i class="fa fa-check-circle add" aria-hidden="true" ng-click="$ctrl.editColumn(column, $ctrl.editColumnModel, $index); $ctrl.expanded=!$ctrl.expanded;"></i>
									<i class="fa fa-times-circle cancel" aria-hidden="true" ng-click="column.expanded=!column.expanded"></i>
								</div>
							</div><!-- End .columnDetails -->
						</div><!-- End .columnItem -->
					</section><!-- End .columnsList -->

					<div ng-show="selectedLink != null">
						<div class="form-group">
							<label>Cardinalidade</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{$ctrl.selectedLink.a.card}}</button>
								</div>
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div><!-- End .form-group -->

						<div class="form-group">
							<label for=" ">Cardinalidade</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{$ctrl.selectedLink.b.card}}</button>
								</div>
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div><!-- End .properties-content -->
			</aside><!-- End .model-properties -->
		</section><!-- End .model-area -->

		<a class="br-help" href="https://github.com/brmodeloweb/brmodelo-app/issues/new/choose" target="_blank" rel="noopener noreferrer" title="Reportar bug ou requisitar funcionalidade">
			<i class="fa fa-bug" aria-hidden="true"></i>
		</a>

	</section><!-- End .mainContent -->
</section><!-- End .view -->