<section class="view modelWorkspace workspaceLogic">
	<header class="navbar navbar-default navbar-fixed-top">
		<ul class="nav navbar-nav pull-left">
			<li>
				<a class="back-button" href="#" data-ui-sref="main">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>
		</ul>

		<div class="navbar-header">
			<strong class="navbar-brand">{{ 'BR Modelo Web' | translate }}</strong>
		</div>
		<img
			src="../../img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
	</header>

	<section class="mainContent">
		<section class="stencil-list" id="stencil-holder">
			<!-- Insert elemes to be used in model constrution -->
		</section>

		<section id="content" class="model-area">
			<header class="workspace-header">
				<div class="page-header clearfix">
					<h2 class="h4 pull-left">{{ 'Logical model of:' | translate }} {{$ctrl.model.name}}</h2>
					<aside class="header-actions pull-right">
						<a class="br-button" data-ng-click="$ctrl.saveModel()" title="{{ 'Save (CTRL S)' | translate }}">{{ 'Save' | translate }}</a>
					</aside>
				</div>
				<ul class="nav navbar-nav tool-icons">
					<li><a data-ng-click="$ctrl.undoModel()" title="{{ 'Undo (CTRL Z)' | translate }}"><i class="fa fa-reply"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.redoModel()" title="{{ 'Redo (CTRL SHIFT Z)' | translate }}"><i class="fa fa-share"></i></a></li>
					<li><a data-ng-click="$ctrl.zoomIn()" title="{{ 'Zoom in (Z +)' | translate }}"><i class="fa fa-search-plus"></i></a></li>
					<li><a data-ng-click="$ctrl.zoomNone()" title="{{ 'Zoom 100% (Z 0)' | translate }}"><i class="fa fa-search"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.zoomOut()" title="{{ 'Zoom out (Z -)' | translate }}"><i class="fa fa-search-minus"></i></a></li>
					<li><a data-ng-click="$ctrl.duplicateModel()" title="{{ 'Duplicate model' | translate }}"><i class="fa fa-files-o"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.generateSQL()" title="{{ 'Generate SQL' | translate }}"><i class="fa fa-database"></i></a></li>
					<li class="divider"><a data-ng-click="$ctrl.print()" title="{{ 'Print (CTRL P)' | translate }}"><i class="fa fa-print"></i></a></li>
				</ul>
				<aside class="feedback">
					<div class="alert" role="alert" data-ng-class="{'hide': !$ctrl.feedback.showing, 'alert-danger': $ctrl.feedback.type=='error', 'alert-success': $ctrl.feedback.type=='success'}">
						<p>{{ $ctrl.feedback.message }}</p>
					</div>
				</aside>
			</header><!-- End .workspace-header -->

			<aside class="model-properties" data-ng-class="{'active': $ctrl.editionVisible}">

				<span class="action" data-ng-click="$ctrl.changeVisible()">
					<i class="fa angle-double-icon" data-ng-class="$ctrl.editionVisible ? 'fa-angle-double-right' : 'fa-angle-double-left'"></i>
				</span>

				<div class="properties-content" ng-if="$ctrl.selectedElement == null">
					<div class="form-group">
						<div class="empty-state">
							<span for="entry-name">{{ 'Select an element to edit' | translate }}</span>
						</div>
					</div><!-- End .form-group -->
				</div>

				<div class="sidebar-wrapper" ng-show="$ctrl.selectedElement != null && $ctrl.selectedType === 'uml.Class'">
					<section class="sidebar-panel">
						<header class="panel-header" ng-click="$ctrl.toggleSection('tableProperties')">
							<h3>{{ 'Table properties' | translate }}</h3>
							<i class="fa" data-ng-class="$ctrl.sections.tableProperties ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
						</header>

						<div class="panel-content" ng-show="$ctrl.sections.tableProperties">
							<div class="form-group">
								<label for="entry-name">{{ 'Name' | translate }}</label>
								<input
									id="entry-name"
									type="text"
									class="form-control"
									ng-model="$ctrl.selectedName"
									ng-change="$ctrl.changeName()"
								/>
							</div><!-- End .form-group -->
						</div>
					</section>

					<section class="sidebar-panel">
						<header class="panel-header" ng-click="$ctrl.toggleSection('columns')">
							<h3>{{ 'Columns' | translate }}</h3>
							<i class="fa" data-ng-class="$ctrl.sections.columns ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
						</header>

						<div class="panel-content" ng-show="$ctrl.sections.columns">
							<ul class="table-columns">
								<li class="column-details" ng-repeat="column in $ctrl.columns track by $index">
									<header ng-click="$ctrl.editionColumnMode(column, $index)" ng-show="!column.expanded">
										<h4 class="table-title">{{column.name}}</h4>
										<span class="relationship" ng-show="column.PK">PK</span>
									</header>

									<column-form ng-show="column.expanded" table-names="$ctrl.tableNames" column="$ctrl.editColumnModel" save="$ctrl.editColumn" index="$index" dismiss="column.expanded = !column.expanded"></column-form>
								</li>
							</ul>

							<div class="column-details" ng-show="$ctrl.addColumnVisible">
								<column-form table-names="$ctrl.tableNames" column="$ctrl.addColumnModel" save="$ctrl.addColumn" dismiss="$ctrl.showAddColumn(false)"></column-form>
							</div>
							<button class="br-button br-button--full" ng-show="!$ctrl.addColumnVisible" ng-click="$ctrl.showAddColumn(true)">{{ 'Add new column' | translate }}</button>
					</section>

					<section class="columnsList" ng-show="false">
						<header class="clearfix">
							<label>{{ 'Columns' | translate }}</label>
							<i class="fa fa-plus-circle addColumn" aria-hidden="true" ng-click="$ctrl.showAddColumn(true)"></i>
						</header>

						<div class="columnItem" ng-repeat="column in [] track by $index">
							<label
								draggable="true"
								ng-click="$ctrl.editionColumnMode(column, $index)"
								ng-show="!column.expanded"
							>{{column.name}}</label>
							<i
								class="fa fa-trash"
								aria-hidden="true"
								ng-click="$ctrl.deleteColumn(column, $index); $event.stopPropagation();"
							></i>
						</div>
					</section>

					<section class="sidebar-panel">
						<header class="panel-header" ng-click="$ctrl.toggleSection('views')">
							<h3>{{ 'Views' | translate }}</h3>
							<i class="fa" data-ng-class="$ctrl.sections.views ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
						</header>

						<div class="panel-content" ng-show="$ctrl.sections.views">
							<view table="{ basedIn: $ctrl.selectedName, columns: $ctrl.columns }"></view>
						</div>
					</section>

					<div ng-show="selectedLink != null">
						<div class="form-group">
							<label>{{ 'Cardinality' | translate }}</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{$ctrl.selectedLink.a.card}}</button>
								</div>
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardA('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div><!-- End .form-group -->

						<div class="form-group">
							<label for=" ">{{ 'Cardinality' | translate }}</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{$ctrl.selectedLink.b.card}}</button>
								</div>
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="$ctrl.updateCardB('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div><!-- End .properties-content -->
			</aside>
		</section><!-- End .model-area -->

		<a class="br-help hidden-print" href="https://github.com/brmodeloweb/brmodelo-app/issues/new/choose" target="_blank" rel="noopener noreferrer" title="{{ 'Report a bug or request a feature' | translate }}">
			<i class="fa fa-bug" aria-hidden="true"></i>
		</a>

	</section><!-- End .mainContent -->
</section><!-- End .view -->