<aside class="model-properties">
	<section class="sidebar-panel temp-hide">
		<header class="panel-header">
			<h3>Table properties</h3>
			<i class="fa fa-chevron-up" aria-hidden="true" ng-click=""></i>
		</header>
		<div class="panel-content"></div>
	</section><!-- End .sidebar-panel-->

	<section class="sidebar-panel">
		<header class="panel-header">
			<h3>Columns</h3>
			<i class="fa fa-chevron-down" aria-hidden="true" ng-click=""></i>
		</header>
		<div class="panel-content">
			<ul class="table-columns">
				<li class="column-details">
					<header>
						<h4 class="table-title">PatientId</h4>
						<span class="relationship">PK</span>
					</header>
				</li>
				<li class="column-details temp-expanded">
					<header>
						<h4 class="table-title">PatientName</h4>
					</header>
					<div class="column-details-content">
						<div class="form-group clearfix">
							<label for="column-name">Name</label>
							<input
								id="entry-name"
								type="text"
								class="form-control"
								ng-model="$ctrl.addColumnModel.name"
							/>
						</div>
						<div class="form-group clearfix">
							<label for="column-name">Type</label>
							<dropdown
								on-select="$ctrl.selectAddType(selected)"
								selected="{name: 'INT', type: 'ORIGEM'}"
								options="[{name: 'DATE', type: 'DATE'}, {name: 'FLOAT', type: 'FLOAT'}, {name: 'VARCHAR(n)', type: 'VARCHAR(n)'}, {name: 'CHAR(n)', type: 'CHAR(n)'},  {name: 'INT', type: 'INT'}]">
							</dropdown>
						</div>
						<div class="form-group clearfix">
							<label for="column-name">Default</label>
							<input
								id=""
								type="text"
								class="form-control"
								ng-model=""
							/>
						</div>
						<div class="form-group clearfix">
							<label for="column-name">Check</label>
							<input
								id=""
								type="text"
								class="form-control"
								ng-model=""
							/>
						</div>
						<div class="clearfix">
							<div class="checkbox">
								<label for="c1">
									<input
										id="c1"
										type="checkbox"
										ng-model="$ctrl.addColumnModel.PK"
									/>PK
								</label>
							</div>
							<div class="checkbox">
								<label for="c2">
									<input
										id="c2"
										type="checkbox"
										ng-model="$ctrl.addColumnModel.FK"
									/>FK
								</label>
							</div>
							<div class="checkbox">
								<label for="c2">
									<input
										id=""
										type="checkbox"
										ng-model=""
									/>NOT NULL (UN)
								</label>
							</div>
							<div class="checkbox">
								<label for="c2">
									<input
										id=""
										type="checkbox"
										ng-model=""
									/>UNIQUE (U)
								</label>
							</div>
							<div class="checkbox">
								<label for="c2">
									<input
										id=""
										type="checkbox"
										ng-model=""
									/>AUTO INCREMENT (AI)
								</label>
							</div>
						</div>
					</div>
					<footer class="column-details-actions">
						<button class="br-button">Save</button>
						<button class="br-button yellow">Cancel</button>
					</footer>
				</li>
				<li class="column-details">
					<header>
						<h4 class="table-title">Patient</h4>
					</header>
				</li>
			</ul><!-- End .table-columns-->
		</div>
	</section><!-- End .sidebar-panel-->

	<section class="sidebar-panel temp-hide">
		<header class="panel-header">
			<h3>Views</h3>
			<i class="fa fa-chevron-up" aria-hidden="true" ng-click=""></i>
		</header>
		<div class="panel-content"></div>
	</section><!-- End .sidebar-panel-->
</aside>