<div class="modal-header">
	<h3 class="modal-title">Atenção!!!</h3>
</div>

<div class="modal-body">
	<p>Não foi possível realizar essa conversão pois a tabela <b>{{params.rootName}}</b> outras conexões. Escolha outra opção</p>

	<form class="form-horizontal" role="form" name="modelForm">
		<div class="radio">
			<label for="optionsRadios1">
				<input
					id="optionsRadios1"
					type="radio"
					name="optionsRadios"
					ng-model="userOption"
					value="all_tables"
					checked
				/>
				Uso de uma tabela para cada entidade
			</label>
		</div>

		<div class="radio">
			<label for="optionsRadios2">
				<input
					id="optionsRadios2"
					type="radio"
					name="optionsRadios"
					ng-model="userOption"
					value="one_table"
				/>
				Uso de uma única tabela para toda hierarquia
			</label>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="br-button" ng-click="go(optionsRadios)">Avançar</button>
</div>