<div class="modal-header">
	<h1 class="modaltitle">Assistente de conversão -> Atributo multivalorado</h1>
</div>

<div class="modal-body">

	<form class="form-horizontal" role="form" name="modelForm">
		<div class="form-group">
      <p class="modal-message"> O que deseja fazer com atributo multivalorado <strong>"{{params.attribute}}"</strong>  da tabela <strong>"{{params.tableName}}"</strong> ? </p>
			<!-- <label for="name" class="col-sm-3 control-label">Título</label> -->
		</div>

    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="userOption" value="add_attributes" class="withinput" checked>
        Incluir n=<input type="number" class="fieldInput" ng-model="qt"/> atributos
      </label>


    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="userOption" value="new_table">
        Criar nova tabela <strong>{{params.attribute}}</strong>?
      </label>
    </div>

		<div class="modal-footer">
			<button type="button" class="br-button" ng-click="go(optionsRadios)">Avançar</button>
		</div>

	</form>

</div>
