###############################################################################
# System files
###############################################################################
.idea
.DS_Store

###############################################################################
# node-waf configuration
###############################################################################
.lock-wscript
npm-debug.log

###############################################################################
# Dependency directories
###############################################################################
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
bower_components/
build/
package-lock.json
coverage/

###############################################################################
# Compiled files
###############################################################################
app/css
app/assets
app/dist

###############################################################################
# ENV files
###############################################################################
.env
.env.development
.env.production