#node-waf configuration
.lock-wscript
npm-debug.log

#Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

#Dependency directory
#https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
bower_components/
build/

#Remove compilet CSS
app/css
