/******************************************************************************/
/* Hide Stuff */
/******************************************************************************/
.hide {display: none!important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

/******************************************************************************/
/* .mainHeader */
/******************************************************************************/
.mainHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
	background-color: rgba(255,255,255, 1);
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	z-index: 50;
}

.mainHeader .logo {
	float: left;
	margin: 0 25px;
}

.mainHeader .mainNav {
	float: left;
	position: relative;
	top: 23px;
}

/***************************************************************/
/* .mainNav */
/***************************************************************/
.mainNav a {display: inline-block;}

.mainNav a:not(:last-child) {
	padding-right: 10px;
	border-right: 1px solid rgba(0,0,0, 1);
	margin-right: 10px;
}

/***************************************************************/
/* .userActions */
/***************************************************************/
.userActions {
	position: absolute;
	top: 20px;
	right: 25px;
}

.actions.cf {
  float: right;
}

/******************************************************************************/
/* .userWorkspace */
/******************************************************************************/
.userWorkspace {margin-top: 66px;}


/******************************************************************************/
/* .componentsList */
/******************************************************************************/
.componentsList {
	position: fixed;
	top: 66px;
	bottom: 0;
	left: 0;
	width: 200px;
	border-right: 1px solid rgba(0,0,0, 0.3);
	background-color: rgba(0,0, 0, 0.05);
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
}

/******************************************************************************/
/* .modelWorkspace */
/******************************************************************************/
.modelWorkspace {
	position: fixed;
	top: 66px;
	right: 0;
	bottom: 0;
	left: 200px;
	background-color: rgba(230,230,0, 0.3);
}

/******************************************************************************/
/* .modelProperties */
/******************************************************************************/
.modelProperties {
	position: fixed;
	top: 66px;
	right: -180px;
	bottom: 0;
	width: 200px;
	background-color: rgba(230,0,230, 0.3);
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	transition: 0.3 ease-in-out right;
}

.modelProperties.active {right: 0;}

.modelProperties .action {
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 20px;
	left: -25px;
	border-radius: 3px 0 0 3px;
	background-color: rgba(230,0,230, 0.3);
	cursor: pointer;
}

/******************************************************************************/
/* .loginHeader */
/******************************************************************************/
.loginHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
	background-color: rgba(255,255,255, 1);
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	z-index: 50;
}

.loginHeader .logo {
	float: left;
	margin: 0 25px;
}

/******************************************************************************/
/* .userLogin */
/******************************************************************************/
.userLogin {margin-top: 66px;}

/******************************************************************************/
/* .loginPanel */
/******************************************************************************/
.loginPanel{
  margin: auto;
  margin-top: 50px;
  width: 500px;
}

/******************************************************************************/
/* .error */
/******************************************************************************/
.error{
  background-color: #fbbfbf;
}

/******************************************************************************/
/* .modal */
/******************************************************************************/
.modal-backdrop {
	bottom: 0;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.modal-content {
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 100%;
}

.modal-title {
	float: left;
}

.modalFeedback {
	overflow-x: hidden;
	width:  240px;
	float: right;
	min-height: 30px!important;
}

.modalFeedback .message {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	width: auto;
	padding: 8px 5px 5px 35px;
	letter-spacing: 0.05em;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0 1px 1px #aaa,
				inset 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #3d3d3d;
	overflow: hidden;
 }

.modalFeedback .message.error {
	border-color: #fc5858;
	background: #F0B7B7;
}

.modalFeedback .message p  {
	padding: 0;
	margin: 0;
	cursor: default;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/******************************************************************************/
/* .modal */
/******************************************************************************/
.feedback{
  min-height: 70px;
}

.feedback .message {
  width: 400px!important;
  margin: auto;
	margin-top: 20px;
}

.loginFeebackds{
	margin-top: 20px!important;
}

/******************************************************************************/
/* .modelActions */
/******************************************************************************/
.modelActions {
	position: fixed;
	top: 75px;
	left: 210px;
	width: 250px;
	height: 35px;
	background-color: rgba(0,153,51, 0.3);
	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	transition: 0.3 ease-in-out right;
}

/******************************************************************************/
/* .mainTable */
/******************************************************************************/
.mainTable {
	margin: auto;
	width: 1024px;
	margin-top: 100px;
}
/******************************************************************************/
/* .modalActions */
/******************************************************************************/
.modalActions a {
	float: right;
}

