h1 {
  color: green;
}

/*************************************
  header
*************************************/

/*header {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #f1f2f7;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1002;
  min-height: 60px;
  padding: 0 15px;
  display: block;
}*/

.decriptionLabel {
  float: left;
}

.actions.cf {
  float: right;
  margin-top: 15px;
}

/*************************************
  main
*************************************/

body {
  background-color: #F1F2F7;
  line-height: 1.1;
}

main{
  margin-top: 60px;
  padding: 15px;
}

/*************************************
  login
*************************************/

.loginPanel{
  margin: auto;
  margin-top: 60px;
  width: 500px;
}

.done{
  text-decoration: line-through;
  color: grey;
}

.modal-backdrop {
  bottom:0;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-content {
  position: absolute;
  top:50%;
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width:100%;
}

.error{
  background-color: #DEB4BB;
}

/***********************************************************/
/* .content */
/***********************************************************/
.content-main {
	position: fixed;
	top: 30px;
	right: 0;
	bottom: 5px;
	left: 0;
}

/***********************************************************/
/* .modelList */
/***********************************************************/
.modelList {
    position:relative;
	left: 8px;
    overflow:hidden;
}

.modelList ul{
    list-style-type: none;
}

.modelList li {
    float: left;
	position: relative;
    width:150px;
    overflow: hidden;
    height:36px;
	cursor: pointer;
	padding: 10px;
	margin-right: 7px;
	font-size: 1.3em;
	line-height: 1.2em;
	text-align: left;
	overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0,0,0, 0.2);
	border-bottom: 0;
	border-radius: 2px 0 0 2px;
	background: rgba(255,255,255, 0.3);
}

.modelList li:hover {
	text-decoration: none;
	background: rgba(255,255,255, 1);
}

.modelList .active {
	top: 4px;
    height:40px;
	padding-bottom: 16px;
	z-index: 100;
	background: rgba(255,255,255, 1);
}

.modelList .newModel {
    float: left;
	position: relative;
	top: 0;
	right: 0;
	width: 38px;
	height: 38px;
	overflow: hidden;
	padding: 0;
}

.modelList .newModel:hover {
	width: 120px;
}

.modelList .newModel > strong {
	display: block;
	float: left;
	width: 38px;
	height: 38px;
	padding: 10px;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

.modelList .newModel > strong:hover {background: rgba(0,0,0, 0.1);}

.modelList .newModel:hover > strong:first-child,
.modelList .newModel:hover > strong:first-child:hover {
	cursor: default;
	background: transparent;
}

.modelList .newModel:hover > strong:first-child i,
.modelList .newModel:hover > strong:first-child:hover i {opacity: 0.1;}

.modelList .naming > input {
	width: 130px;
}

/***********************************************************/
/* .visibleModel */
/***********************************************************/
.visibleModel {
	position: absolute;
	top: 36px;
	right: 200px;
  left: 200px;
	bottom: 0;
	overflow: hidden;
	border: 1px solid rgba(0,0,0, 0.2);
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 10px -5px rgba(0,0,0, 0.5) inset;
}

/********************************************/
/* .visibleModel > header */
/********************************************/
.visibleModel > header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px;
}

.visibleModel > header h2 {
	display: none /*inline-block*/;
	font-size: 2em;
	line-height: 1em;
	font-style: italic;
}

.visibleModel .tools,
.visibleModel .zoom {
	position: absolute;
	top: 15px;
	background: rgba(255,255,255, 0.95);
}

.visibleModel .tools {left: 15px;}
.visibleModel .zoom {right: 15px;}

.tools span,
.zoom span {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.visibleModel .tools:hover span,
.visibleModel .zoom:hover span {opacity: 1;}

.tools span > img {width: 20px; height: 20px;}
.zoom span > i {font-size: 1.5em;}

.tools span:hover,
.zoom span:hover {background: rgba(0,0,0, 0.1);}

.tools span:hover,
.zoom span:active {box-shadow: 0 0 4px rgba(0,0,0, 0.2) inset;}

/********************************************/
/* components model */
/********************************************/
.componentsModel {
	position: absolute;
	top: 36px;
  width: 200px;

  left: 0;
	bottom: 0;
	overflow: hidden;
	border: 1px solid rgba(0,0,0, 0.2);
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 10px -5px rgba(0,0,0, 0.5) inset;
  background-color: blue;
}

/********************************************/
/* components model */
/********************************************/
.editionModel {
	position: absolute;
	top: 36px;
  float: right;
  right: 0;
  width: 200px;
	bottom: 0;
	overflow: hidden;
	border: 1px solid rgba(0,0,0, 0.2);
	background: rgba(255,255,255, 0.9);
	box-shadow: 0 0 10px -5px rgba(0,0,0, 0.5) inset;
  background-color: red;
}

/********************************************/
/* Main header */
/********************************************/
.main-header{
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #f1f2f7;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1002;
  min-height: 60px;
  padding: 0 15px;
  display: block;
}

/*.main-header > nav a{
  display: block;
  float: left;
  line-height: 65px;
  font-size: 1.3em;
  padding: 0 20px;
  border-right: 1px solid grey;
  color: grey;
}*/

.main-header nav {
    float: left;
    margin-top: 23px;
    margin-right: 15px;
}

.main-header > nav a {
    margin-right: 10px;
    border-right: 1px solid #6494f9;
    color: #646565;
    cursor: pointer;
    padding-right: 10px;
    text-decoration: none;
}

.main-header > nav a:hover {
    text-decoration: underline;
}

/********************************************/
/* Components */
/********************************************/

.button {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #254ac4;
    color: #e2e5e5 !important;
    border: 0px none;
    cursor: pointer;
    padding: 10px !important;
}

.button:hover {
    opacity: 0.7;
}

.button:active {
    opacity: 0.3;
}

/********************************************/
/* Login Header */
/********************************************/
.login-header{
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #254ac4;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1002;
  min-height: 70px;
  padding: 0 15px;
  display: block;
}

.panel {
  border-radius: 0;
}
