<div class="public">
	<div class="container">
		<img
			src="/img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
		<section class="reset-page">
			<header class="public-logo">
				<h1>{{ 'Redefine password' | translate }}</h1>
			</header>
			<div class="alert" role="alert" data-ng-class="{'hide': !$ctrl.feedback.showing, 'alert-danger': $ctrl.feedback.type=='error', 'alert-success': $ctrl.feedback.type=='success'}">
				<p>{{ $ctrl.feedback.message }}</p>
			</div>
			<form class="reset-form" name="resetForm" ng-submit="$ctrl.submitForm(resetForm.$valid, $ctrl.credentials.password, $ctrl.credentials.repeatPassword)" novalidate>
				<div class="form-group">
					<label for="newPassword">{{ 'Password' | translate }}</label>
					<input
						type="password"
						name="newPassword"
						class="form-control input-lg"
						id="newPassword"
						placeholder="{{ 'Password' | translate }}"
						autocomplete="off"
						required
						ng-disabled="!$ctrl.validation.validCode"
						data-ng-model="$ctrl.credentials.password"
						data-ng-class="{'error': resetForm.newPassword.$invalid && (!resetForm.newPassword.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<div class="form-group">
					<label for="repeatPassword">{{ 'Confirm password' | translate }}</label>
					<input
						type="password"
						name="repeatPassword"
						class="form-control input-lg"
						id="repeatPassword"
						placeholder="{{ 'Password' | translate }}"
						autocomplete="off"
						required
						ng-disabled="!$ctrl.validation.validCode"
						data-ng-model="$ctrl.credentials.repeatPassword"
						data-ng-class="{'error': resetForm.repeatPassword.$invalid && (!resetForm.repeatPassword.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<button type="submit" ng-disabled="!$ctrl.validation.validCode" class="br-button btn-block">{{ 'Save' | translate }}</button>
			</form>
			<aside class="account-options">
				<div class="navigation">
					<a href="#" tabindex="1" data-ui-sref="login">{{ 'Go to login' | translate }}</a>
				</div>
			<aside>
		</section>
	</div>
	<bug-report-button></bug-report-button>
</div>
