<div class="public">
	<div class="container">
		<img
			src="/img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': $ctrl.loading}"
		/>
		<section class="reset-page">
			<header class="public-logo">
				<h1>Redefinir senha</h1>
			</header>
			<div class="alert" role="alert" data-ng-class="{'hide': !$ctrl.feedback.showing, 'alert-danger': $ctrl.feedback.type=='error', 'alert-success': $ctrl.feedback.type=='success'}">
				<p>{{ $ctrl.feedback.message }}</p>
			</div>
			<form class="reset-form" name="resetForm" ng-submit="$ctrl.submitForm(resetForm.$valid, $ctrl.credentials.password, $ctrl.credentials.repeatPassword)" novalidate>
				<div class="form-group">
					<label for="newPassword">Password</label>
					<input
						type="password"
						name="newPassword"
						class="form-control input-lg"
						id="newPassword"
						placeholder="Password"
						autocomplete="off"
						required
						ng-disabled="!$ctrl.validation.validCode"
						data-ng-model="$ctrl.credentials.password"
						data-ng-class="{'error': resetForm.newPassword.$invalid && (!resetForm.newPassword.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<div class="form-group">
					<label for="repeatPassword">Confirmar password</label>
					<input
						type="password"
						name="repeatPassword"
						class="form-control input-lg"
						id="repeatPassword"
						placeholder="Password"
						autocomplete="off"
						required
						ng-disabled="!$ctrl.validation.validCode"
						data-ng-model="$ctrl.credentials.repeatPassword"
						data-ng-class="{'error': resetForm.repeatPassword.$invalid && (!resetForm.repeatPassword.$pristine || $ctrl.submitted)}"
					/>
				</div>
				<button type="submit" ng-disabled="!$ctrl.validation.validCode" class="br-button btn-block">Salvar</button>
			</form>
			<aside class="account-options">
				<a href="#" tabindex="1" data-ui-sref="login">Ir para login</a>
			<aside>
		</section>
	</div>
	<a class="br-help" href="https://github.com/brmodeloweb/brmodelo-app/issues/new/choose" target="_blank" rel="noopener noreferrer" title="Reportar bug ou requisitar funcionalidade">
		<i class="fa fa-bug" aria-hidden="true"></i>
	</a>
</div>
