<html lang="en">
<head>
	<meta charset="utf-8">
	<title>brModeloWeb</title>

	<!-- Jquery -->
	<script src="jquery/dist/jquery.min.js"></script>

	<!-- Joint -->
	<script src="joint/lodash.min.js"></script>
	<script src="joint/backbone-min.js"></script>
	<script src="jointjs/dist/joint.min.js"></script>
	<script src="joint/joint.ui.stencil.js"></script>
	<script src="joint/joint.ui.halo.js"></script>
	<script src="joint/joint.dia.command.js"></script>
	<script src="joint/joint.shapes.erd.js"></script>
	<script src="joint/joint.shapes.uml.js"></script>
	<script src="joint/br-scroller.js"></script>
	<script src="joint/joint.ui.selectionView.js"></script>
	<link rel="stylesheet" href="jointjs/dist/joint.css" />
	<link rel="stylesheet" href="joint/joint.ui.halo.css" />
	<link rel="stylesheet" href="joint/joint.ui.stencil.css" />
	<link rel="stylesheet" href="joint/joint.ui.selectionView.css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Font-Awesome -->
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />

	<!-- Sweet-Feedback -->
	<link rel="stylesheet" href="sweet-feedback/css/sweetfeedback.css" />

	<!-- Custom Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,700,500italic,500,400italic,300italic,300" />

	<!-- AngularJS -->
	<script src="angular/angular.min.js"></script>

	<!-- TextAngular -->
	<link rel="stylesheet" href="textangular/dist/textAngular.css" />
	<script src="textangular/dist/textAngular-rangy.min.js"></script>
	<script src="textangular/dist/textAngular-sanitize.min.js"></script>
	<script src="textangular/dist/textAngular.min.js"></script>

	<!-- Angular Ui Router -->
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>

	<!-- Angular Cookies -->
	<script src="angular-cookies/angular-cookies.min.js"></script>

	<!-- Angular UI Bootsrtrap -->
	<script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

	<!-- App -->
	<script src="angular/app.js"></script>
	<script src="angular/session.js"></script>

	<!-- Controllers -->
	<script src="angular/controller/models/conceptualController.js"></script>
	<script src="angular/controller/models/logicController.js"></script>
	<script src="angular/controller/optionsController.js"></script>
	<script src="angular/controller/modal/newModelModalController.js"></script>
	<script src="angular/controller/modal/deleteModelModalController.js"></script>
	<script src="angular/controller/modal/renameModelModalController.js"></script>
	<script src="angular/controller/modal/duplicateModelModalController.js"></script>
	<script src="angular/controller/modal/sqlGeneratorModalController.js"></script>
	<script src="angular/controller/sqlController.js"></script>
	<script src="angular/controller/modal/conversions/attributeModalController.js"></script>
	<script src="angular/controller/modal/conversions/extensionModalController.js"></script>

	<!-- Components -->
	<script src="angular/login/login.js"></script>
	<script src="angular/signup/signup.js"></script>
	<script src="angular/controller/workspace/main/main.js"></script>
	<script src="angular/recovery/recovery.js"></script>
	<script src="angular/recovery/reset.js"></script>

	<!-- Services -->
	<script src="angular/service/authService.js"></script>
	<script src="angular/service/conceptualFactory.js"></script>
	<script src="angular/service/logicFactory.js"></script>
	<script src="angular/service/conceptualService.js"></script>
	<script src="angular/service/logicService.js"></script>
	<script src="angular/service/conversorService.js"></script>
	<script src="angular/service/modelAPI.js"></script>
	<script src="angular/service/sqlGeneratorService.js"></script>

	<!-- Directives -->
	<script src="angular/directive/br-dropdown.js"></script>
	<script src="angular/directive/br-select-option.js"></script>
	<script src="angular/directive/br-option.js"></script>
	<script src="angular/directive/br-select-dropdown.js"></script>

	<!-- BrModelo Styles -->
	<link rel="stylesheet" href="assets/css/app.css" />

	<script>
		angular.element(document).ready(function () {
			var $injector = angular.bootstrap(document, ["myapp"])
		})
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-NQ9Z9PV306"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-NQ9Z9PV306');
	</script>
</head>
<body>
	<main data-ui-view ng-controller="mainController">
		<!-- Page content goes here -->
	</main>
</body>
</html>