<html lang="en">
<head>
	<meta charset="utf-8">
	<title>brmodelo</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/reset.css" />

	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="sweet-feedback/css/sweetfeedback.css"/>

	<link rel="stylesheet" href="joint/joint.css" />
	<link rel="stylesheet" href="joint/joint.ui.halo.css" />
	<link rel="stylesheet" href="joint/joint.ui.stencil.css" />
	<link rel="stylesheet" href="joint/joint.ui.selectionView.css" />

	<!-- BRModelo Styles -->
	<link rel="stylesheet" href="css/app.css" />

	<!-- Custom Fonts -->
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700italic,700,500italic,500,400italic,300italic,300' />

	<!-- Scripts -->
	<script src="joint/jquery.min.js"></script>
	<script src="joint/lodash.min.js"></script>
	<script src="joint/backbone-min.js"></script>
	<script src="joint/joint.js"></script>
	<script src="joint/joint.ui.stencil.js"></script>
	<script src="joint/joint.ui.halo.js"></script>
	<script src="joint/joint.dia.command.js"></script>
	<script src="joint/joint.shapes.erd.js"></script>
	<script src="joint/joint.ui.selectionView.js"></script>

	<script src="libs/angular.min.js"></script>
	<script src="libs/angular-ui-router.min.js"></script>
	<script src="libs/angular-cookies.min.js"></script>
	<script src="libs/angular-modal-service.min.js"></script>
	<script src="libs/ui-bootstrap-tpls.min.js"></script>

	<script src="angular/app.js"></script>
	<script src="angular/session.js"></script>

	<script src="angular/controller/mainController.js"></script>
	<script src="angular/controller/models/conceptualController.js"></script>
	<script src="angular/controller/login/loginController.js"></script>
	<script src="angular/controller/register/registerController.js"></script>
	<script src="angular/controller/modellist/listController.js"></script>
		<script src="angular/controller/optionsController.js"></script>

	<script src="angular/service/authService.js"></script>
	<script src="angular/service/conceptualFactoryService.js"></script>
	<script src="angular/service/modelAPI.js"></script>

	<script src="angular/directive/br-dropdown.js"></script>

	<script>
		angular.element(document).ready(function () {
			var $injector = angular.bootstrap(document, ['myapp']);
		});
	</script>
</head>
<body>
	<main data-ui-view>
		<!-- Page content goes here -->
	</main>
</body>
</html>