<div class="modal-header">
	<h3 class="modal-title">Novo modelo</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form" name="modelForm">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Título</label>
			<div class="col-sm-7">
				<input
					id="name"
					type="text"
					class="form-control"
					ng-class="{'error': ($ctrl.name == null || $ctrl.name == '') && $ctrl.submitted}"
					name="name"
					placeholder="Nome do modelo"
					ng-model="$ctrl.name"
					autocomplete="off"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Tipo</label>
			<div class="col-sm-7 modelselect">
				<dropdown on-select="$ctrl.doSelectType(selected)" selected="$ctrl.typeSelected" options="[{name: 'Conceitual', type: 'conceptual'}, {name: 'Lógico', type: 'logic'}]"></dropdown>
			</div>
		</div>

	</form>
</div>

<div class="modal-footer">
	<button class="br-button yellow" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
	<button type="button" class="br-button" ng-click="$ctrl.save($ctrl.name)">Salvar</button>
</div>