<div class="modal-header">
	<h3 class="modal-title">Duplicar modelo</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Nome</label>
			<div class="col-sm-7">
				<input
				id="name"
				type="text"
				class="form-control"
				ng-class="{'error': ($ctrl.name == null || $ctrl.name == '') && $ctrl.submitted}"
				name="$ctrl.name"
				placeholder="Nome do modelo"
				ng-model="$ctrl.name"
				autocomplete="off"
				/>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="br-button yellow" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
	<button class="br-button" type="button" ng-click="$ctrl.save($ctrl.name)">Salvar</button>
</div>