<div class="modal-header">
	<h3 class="modal-title">{{ 'Import model' | translate }}</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form" name="modelForm">
		<div class="form-group">
			<label for="import-model" class="col-sm-3 control-label">{{ 'File' | translate }}</label>
			<div class="col-sm-7">
				<input
					class="form-control"
					ng-class=""
					type="file"
					id="import-model"
					data-ng-model=""
					autocomplete="off"
				/>
				<p class="note">{{ 'Please select a .BRT file' | translate }}</p>
			</div>
		</div>
		<!-- TO DO: Name field start disabled by default, once user choose the file we fill this field with the file name, removing file extension -->
		<div class="form-group">
			<label for="import-model-name" class="col-sm-3 control-label">{{ 'Name' | translate }}</label>
			<div class="col-sm-7">
				<input
					class="form-control"
					ng-class=""
					type="text"
					id="import-model-name"
					data-ng-model=""
					autocomplete="off"
					disabled
				/>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="br-button yellow" type="button" ng-click="$ctrl.cancel()">{{ 'Cancel' | translate }}</button>
	<button class="br-button" type="button" ng-click="">{{ 'Import' | translate }}</button>
</div>