///////////////////////////////////////////////////////////////////////////////
// banner-whats-new (Element)
///////////////////////////////////////////////////////////////////////////////
banner-whats-new {
	display: block;
	margin-top: 24px;
}

///////////////////////////////////////////////////////////////////////////////
// .whats-new .alert
///////////////////////////////////////////////////////////////////////////////
.whats-new .alert {
	display: flex;
	border: 1px solid #ddd;
	margin: 12px 0;
	align-items: center;
	justify-content: space-between;
}

///////////////////////////////////////////////////////////////////////////////
// .dismiss-news
///////////////////////////////////////////////////////////////////////////////
.dismiss-news {
	padding: 3px 5px;
	border: 1px solid transparent;
	border-radius: 3px;
	background-color: transparent;
	text-align: center;
}

.dismiss-news:hover {
	border-color: #ddd;
}

.dismiss-news path {
	fill: #7b7b7b;;
}

.dismiss-news:hover path {
	fill: #000;
}