<div class="modal-header addmodel">
	<h1 class="modaltitle">Novo modelo</h1>
</div>

<div class="modal-body addmodel">

	<form class="form-horizontal" role="form" name="modelForm" ng-submit="save(modelForm.$valid, newmodel)">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Título</label>
			<div class="col-sm-7" data-ng-class="{'error': modelForm.name.$invalid && (!modelForm.name.$pristine || modelForm.$submitted)}">
				<input type="text"
							 class="modal-input"
							 ng-class="{'error': (!modelForm.name.$pristine)}"
							 id="name"
							 name="name"
							 placeholder="Nome do modelo"
							 ng-model="newmodel.name"
							 >
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Tipo</label>
			<div class="col-sm-7 modelselect">
				<div class="dropdown-tmp dropdown-tmp-btn" broption="" tabindex="0" >
					<div class="dropdown-tmp-trigger">
						<button class="btn ng-binding">{{selected}}</button>
					</div><!--/dropdown-tmp-trigger-->
					<ul class="dropdown-tmp-list" style="min-width: 140px;">
						<li class="dropdown-tmp-item" ng-click="selected = 'conceptual'">
							<span>conceptual</span>
						</li><!--/dropdown-tmp-item-->
						<li class="dropdown-tmp-item" ng-click="selected = 'logic'">
							<span>logic</span>
						</li><!--/dropdown-tmp-item-->
					</ul><!--/dropdown-tmp-list-->
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
			<button type="submit" class="br-button">Salvar</button>
		</div>

	</form>

</div>

