<div class="modal-header">
	<h3 class="modal-title">Novo modelo</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal" role="form" name="modelForm">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Título</label>
			<div class="col-sm-7">
				<input
					id="name"
					type="text"
					class="form-control"
					ng-class="{'error': (name == null || name == '') && submitted}"
					name="name"
					placeholder="Nome do modelo"
					ng-model="name"
					autocomplete="off"
				/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Tipo</label>
			<div class="col-sm-7 modelselect">
				<div class="dropdown-tmp dropdown-tmp-btn" broption="" tabindex="0">
					<div class="dropdown-tmp-trigger">
						<button class="btn ng-binding">{{selected}}</button>
					</div>
					<ul class="dropdown-tmp-list" style="min-width: 140px;">
						<li class="dropdown-tmp-item" ng-click="selected = 'Conceitual'"><span>Conceitual</span></li>
						<li class="dropdown-tmp-item" ng-click="selected = 'Lógico'"><span>Lógico</span></li>
					</ul>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="br-button yellow" type="button" ng-click="cancel()">Cancelar</button>
	<button type="button" class="br-button" ng-click="save(name)">Salvar</button>
</div>