<aside class="model-properties" data-ng-class="{'active': $ctrl.visible}">
	<span class="action" data-ng-click="$ctrl.changeVisible()">
		<i class="fa angle-double-icon" data-ng-class="$ctrl.visible ? 'fa-angle-double-right' : 'fa-angle-double-left'"></i>
	</span>

	<div class="properties-content old" ng-if="$ctrl.selectedElement == null">
		<!-- Empty state when nothing is selected -->
		<div class="form-group">
			<div class="empty-state">
				<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
				<p>{{ 'Select an element to edit' | translate }}</p>
			</div>
		</div>
	</div>

	<!-- Collection properties -->
	<div class="properties-content">
		<section class="sidebar-panel">
			<header class="panel-header" ng-click="$ctrl.toggleSection('tableProperties')">
				<h3>{{ 'Collection properties' | translate }}</h3>
				<i class="fa" data-ng-class="$ctrl.sections.tableProperties ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
			</header>
			<div class="panel-content" ng-show="$ctrl.sections.tableProperties">
				<div class="form-group">
					<label for="entry-name">{{ 'Name' | translate }}</label>
					<input
						id="entry-name"
						type="text"
						class="form-control"
						data-ng-model="$ctrl.selectedElement.value"
						ng-change="$ctrl.updateName($ctrl.selectedElement.value)" autofocus
					/>
				</div>
			</div><!-- End .panel-content -->
		</section><!-- End .sidebar-panel-->

		<section class="sidebar-panel">
			<header class="panel-header" ng-click="$ctrl.toggleSection('cardinality')">
				<h3>{{ 'Cardinality' | translate }}</h3>
				<i class="fa" data-ng-class="$ctrl.sections.cardinality ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
			</header>
			<div class="panel-content" ng-show="$ctrl.sections.cardinality">
				<div class="collection-cardinality">
					<div class="checkbox">
						<label for="collection-cardinality-checkbox">
							<input
								id="collection-cardinality-checkbox"
								type="checkbox"
								ng-model="$ctrl.selectedElement.cardinalityEnabled"
								ng-change="$ctrl.updateCollectionCardinality()"
							/>
							{{ 'Collection cardinality' | translate }}
						</label>
					</div>

					<!-- TODO: Rework code markup-->
					 <div class="cardinality-options">
						<div
							ng-if="$ctrl.selectedElement.cardinalityEnabled"
							style="display:flex; gap:8px;"
						>
							<input
								type="number"
								min="0"
								class="form-control"
								ng-model="$ctrl.selectedElement.minCardinality"
								ng-change="$ctrl.updateCollectionCardinality()"
								placeholder="mín."
								style="width:40%"
							/>
							<input
								type="text"
								class="form-control"
								ng-model="$ctrl.selectedElement.maxCardinality"
								ng-change="$ctrl.updateCollectionCardinality()"
								placeholder="máx."
								style="width:40%"
							/>
						</div>
						<small
							ng-if="$ctrl.selectedElement.cardinalityEnabled"
							style="color:#888;"
						>
							Use N para ilimitado
						</small>
					</div><!-- End .cardinality-options -->
				</div><!-- End .collection-cardinality-->
			</div><!-- End .panel-content -->
		</section><!-- End .sidebar-panel-->

		<section class="sidebar-panel">
			<header class="panel-header" ng-click="$ctrl.toggleSection('attributes')">
				<h3>{{ 'Attributes' | translate }}</h3>
				<i class="fa" data-ng-class="$ctrl.sections.attributes ? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
			</header>
			<div class="panel-content" ng-show="$ctrl.sections.attributes">
				<!-- Soon content here-->
			</div><!-- End .panel-content -->
		</section><!-- End .sidebar-panel-->
	</div><!-- End .properties-content-->
</aside>