<aside class="model-properties" data-ng-class="{'active': $ctrl.visible}">

	<span class="action" data-ng-click="$ctrl.changeVisible()">
		<i class="fa angle-double-icon" data-ng-class="!$ctrl.visible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
	</span>

	<div class="properties-content old">

		<div class="form-group" ng-if="$ctrl.configuration.emptyState">
			<div class="empty-state">
				<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
				<p>{{ 'Select an element to edit' | translate }}</p>
			</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.collection && $ctrl.visible)">
			<div class="form-group">
				<label for="entry-name">{{ 'Name' | translate }}</label>
				<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value"
					ng-change="$ctrl.updateName($ctrl.selectedElement.value)" autofocus/>
			</div><!-- End .form-group -->
		</div><!-- End .form-group -->
	</div><!-- End .properties-content -->
</aside><!-- End .model-properties -->