.status-bar {
    position: fixed;
    bottom: 0;
    left: 215px;
    height: 36px;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
}