////////////////////////////////////////////////////////////////////////////////
// Component base
////////////////////////////////////////////////////////////////////////////////
support-banners-list {
	display: block;
}

.support-banner-list {
	list-style: none;
	padding: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .small-banner
////////////////////////////////////////////////////////////////////////////////
.small-banner a {
	display: block;
	border: 1px solid var(--gray-80);
	padding: 8px 6px;
	border-radius: 4px;
	margin-bottom: 12px;
	color: var(--gray-50);
}

.small-banner a:hover {
	text-decoration: none;
	background-color: #fff;
}

.small-banner p {
	margin: 0;
	font-size: 1.3rem;
}