////////////////////////////////////////////////////////////////////////////////
// .alert-sponsor
////////////////////////////////////////////////////////////////////////////////
.github-sponsor-banner {
	display: flex;
	gap: 10px;
	border: 1px solid #ddd;
	margin-top: 24px;
}

.github-sponsor-banner .github-sponsor-img {
	width: 128px;
}