////////////////////////////////////////////////////////////////////////////////
// Hide Stuff
////////////////////////////////////////////////////////////////////////////////
.hide {display: none !important;}

.vhide {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
}

////////////////////////////////////////////////////////////////////////////////
// .separator
////////////////////////////////////////////////////////////////////////////////
.separator {
	width: 100%;
	border-color: #cecece;
}