.halo {
    position: absolute;
    pointer-events: none
}

.halo .handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    user-select: none;
	pointer-events: auto;
}

.halo .handle {cursor: pointer;}
.halo .handle.hidden {display: none;}

.halo .resize {cursor: se-resize;}

.halo .clone,
.halo .link,
.halo .fork,
.halo .rotate {cursor: move;}

.halo .box {
    position: absolute;
    top: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    border-radius: 6px;
    padding: 6px
}


.halo.toolbar .handles {
    display: flex;
    position: absolute;
    top: -50px;
    padding: 7px 5px;
}

.halo.toolbar .handles:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    margin-top: 4px;
    left: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.halo.toolbar .handle {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    background-size: 16px 16px;
    background-position: 3px 3px;
}

.halo.toolbar .handle.hidden {
    display: none;
}

.halo.toolbar .handle:hover:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 7px;
}

.halo.toolbar .box {
    margin-top: 10px;
    min-width: 100px;
}

.halo.toolbar .handles {
    border-radius: 5px;
    background-color: #F7F7F7;
    border-bottom: 4px solid #3B425F;
    box-shadow: 0 1px 2px #202132;
}

.halo.toolbar .handles:after {
    border-top: 7px solid #3B425F;
}

.halo.toolbar .handle:hover:after {
    border-bottom: 4px solid #FC6CB8;
}

.halo.toolbar .box {
    background-color: #696D89;
    color: #C7C9E2;
}