////////////////////////////////////////////////////////////////////////////////
// .public .feedback
////////////////////////////////////////////////////////////////////////////////
.public .feedback {
	position: fixed;
	top: 20px;
	right: 0;
	left: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .field.error
////////////////////////////////////////////////////////////////////////////////
.field.error .fieldLabel {color: rgba(red, 0.8);}

.field.error .fieldInput {
	color: rgba(red, 0.8);
	border-color: rgba(red, 0.8);
	background-color: rgba(red, 0.1);
	box-shadow: 1px 1px 1px rgba(#fff, 1) inset;
}

.field.error .fieldInput:focus {box-shadow: 1px 1px 1px rgba(#fff, 1) inset;}
.field.error .fieldInput::placeholder {color: rgba(red, 0.6);}

////////////////////////////////////////////////////////////////////////////////
// .feedback
////////////////////////////////////////////////////////////////////////////////
.workspace-header .feedback {
	position: absolute;
	top: 100%;
	left: 0;
	width: calc(100% - 16px);
	z-index: 1;
}