/******************************************************************************/
/* .public .feedback */
/******************************************************************************/
.public .feedback {
	position: fixed;
	top: 20px;
	right: 0;
	left: 0;
}

/******************************************************************************/
/* .field.error */
/******************************************************************************/
.field.error .fieldLabel {color: rgba(red, 0.8);}

.field.error .fieldInput {
	color: rgba(red, 0.8);
	border-color: rgba(red, 0.8);
	background-color: rgba(red, 0.1);
	box-shadow: 1px 1px 1px rgba(#fff, 1) inset;
}

.field.error .fieldInput:focus {box-shadow: 1px 1px 1px rgba(#fff, 1) inset;}
.field.error .fieldInput::placeholder {color: rgba(red, 0.6);}

/******************************************************************************/
/* .feedback */
/******************************************************************************/
.feedback {
	position: relative;
	z-index: 1;
}

/******************************************************************************/
/* .modelWorkspace .feedback */
/******************************************************************************/
.modelWorkspace .feedback {top: -20px;}

.modelWorkspace .feedback .message {
	padding: 30px;
	border-width: 0;
	border-radius: 0;
	border-bottom-width: 1px;
	font-size: 1.4em;
	background-image: none;
	box-shadow: 0 0 0 transparent;
}

.modelWorkspace .feedback .message p {padding-right: 60px;}

.modelWorkspace .feedback .error {;
	color: #fc5858;
	border-bottom-color: #fc5858;
	background-color: rgba(#f7dbdc, 0.95);
}

.modelWorkspace .feedback .success {;
	color: #09c600;
	border-bottom-color: #09c600;
	background-color: rgba(#cbf0ca, 0.95);
}

.modelWorkspace .feedback .warning {;
	color: #bbb90c;
	border-bottom-color: #bbb90c;
	background-color: rgba(#f3f2c4, 0.95);
}

.modelWorkspace .feedback .info {;
	color: #198fb0;
	border-bottom-color: #198fb0;
	background-color: rgba(#d0f2fb, 0.95);
}