////////////////////////////////////////////////////////////////////////////////
// .feedback
////////////////////////////////////////////////////////////////////////////////
.feedback {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px;
	min-width: 300px;
	z-index: 10;
}

.alert {
	margin-bottom: 0;
	box-shadow: 0 2px 6px -2px var(--gray-70);
}

////////////////////////////////////////////////////////////////////////////////
// .feedback-form
////////////////////////////////////////////////////////////////////////////////
.feedback-inline {
	margin-bottom: 12px;
}

////////////////////////////////////////////////////////////////////////////////
// Overwrite Boostrap defaults
////////////////////////////////////////////////////////////////////////////////
.alert {
	color: var();
	border-color: var(--border-base);
	background-color: var(--white);

}

.alert.alert-success {
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert.alert-danger {
	color: #991b1b;
	border-color: #991b1b;
	background-color: #fef2f2;
}

.alert.alert-warning {
	color: #92400e;
	border-color: #92400e;
	background-color: #fffbeb;
}



////////////////////////////////////////////////////////////////////////////////
// .field.error
////////////////////////////////////////////////////////////////////////////////
.field.error .fieldLabel {
	color: var (--danger-base);
}

.field.error .fieldInput {
	color: var(--danger-base);
	border-color: var(--danger-base);
	// background-color: rgba(red, 0.1);
	box-shadow: 1px 1px 1px var(--white) inset;
}

.field.error .fieldInput:focus {box-shadow: 1px 1px 1px var(--white) inset;}
.field.error .fieldInput::placeholder {color: rgba(red, 0.6);}