////////////////////////////////////////////////////////////////////////////////
// Font declaration
////////////////////////////////////////////////////////////////////////////////
label,
input,
textarea,
button {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: inherit;
}

////////////////////////////////////////////////////////////////////////////////
// .field
////////////////////////////////////////////////////////////////////////////////
.field {position: relative;}
.field:not(:last-child) {margin-bottom: 25px;}

.fieldLabel,
.fieldInput {
	display: block;
	width: 100%;
}

.fieldLabel {
	font-size: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.fieldInput {
	transition: 0.3s ease all;
	position: relative;
	font-size: 1.1em;
	padding: 10px;
	border: 1px solid rgba(#000, 0.4);
	border-radius: 2px;
	background-color: rgba(#fff, 0.5);
}

.fieldInput:focus {
	border-color: rgba(#000, 0.8);
	color: rgba(#000, 0.8);
	background-color: rgba(#fff, 1);
	box-shadow: 0px 1px 1px transparent,
				1px 1px 1px rgba(#fff, 1) inset;
}

////////////////////////////////////////////////////////////////////////////////
// .columnsList
////////////////////////////////////////////////////////////////////////////////
.columnsList {
	position: relative;
	margin-bottom: 25px;
}

.columnsList .addColumn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
	color: rgba(green, 0.8);
	cursor: pointer;
}

.columnsList .addColumn:hover {color: rgba(green, 1);}

.columnItem {
	position: relative;
	padding: 8px 8px 4px 8px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background: rgba(#fff, 0.4);
	margin-bottom: 16px;
}

.columnItem > label {
	display: block;
	padding-right: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.columnItem .titleLabel {
	 margin-bottom: 5px;
}

.columnItem .dropdown-tmp-item {
	line-height: 10px;
	padding: 8px 4px;
}

.columnItem .fa {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2em;
	color: rgba(#000, 0.5);
	cursor: pointer;
}

.columnItem .dropdownElement {
	margin-bottom: 40px;
}

.columnItem .fa:hover {color: rgba(#000, 1);}

.columnItem .actions {
	border-top: 1px solid #e7e7e7;
	padding-top: 10px;
}

.columnItem .actions .fa {
	cursor: pointer;
	float: right;
	position: relative;
	top: -4px;
	right: 0;
	font-size: 1.4em;
	margin-left: 8px;
}

.columnItem .actions .add {color: rgba(green, 0.8);}
.columnItem .actions .cancel {color: rgba(red, 0.8);}

////////////////////////////////////////////////////////////////////////////////
// .specialInput
////////////////////////////////////////////////////////////////////////////////
.specialInput {
	display: block;
	width: 100%;
	padding: 5px 0;
	border: 1px solid transparent;
	border-bottom-color: #3D9970;
	font-family: 'Roboto', sans-serif;
	font-size: 14pt;
	line-height: 1.2em;
	color: #503c28;
}

.specialInput:focus {
	border-bottom-width: 2px;
	color: #503c28;
	margin-bottom: -1px;
}

.error > .specialInput,
.error ::-webkit-input-placeholder {
	color: #fc5858;
	border-bottom-color: #fc5858;
}


///////////////////////////////////////////////////////////////////////////////
// Radioboxes customization
///////////////////////////////////////////////////////////////////////////////
.radio > label {
	line-height: 0.8em;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 5px;
}

.radio > label > input[type="radio"] {
	font-size: 14px;
	margin-top: 0;
}

.radio > label > input[type="radio"].withinput {
	margin-top: 3px;
}

.radio > label > input[type="number"] {
	width: 40px;
	height: 22px;
	display: inline;
	padding: 3px;
	font-size: 15px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

////////////////////////////////////////////////////////////////////////////////
// Bootstrap fixes
////////////////////////////////////////////////////////////////////////////////
.form-control:focus {
	outline: none;
	border-color: #3D9970;
	box-shadow: 1px 1px 0 #3D9970, -1px 3px 0 #3D9970;
}

.form-control.error {
	color: rgba(red, 0.8);
	border-color: rgba(red, 0.8);
	background-color: rgba(red, 0.07);
}

.form-control.error:focus {
	box-shadow: 1px 1px 0 rgba(red, 0.8), -1px 3px 0 rgba(red, 0.8);
}

.form-control.error::placeholder {
	color: rgba(red, 1);
}

.checkbox input {
	top: 4px;
}
