///////////////////////////////////////////////////////////////////////////////
// Joint customizations
///////////////////////////////////////////////////////////////////////////////
.link-tools {
  display: none;
}

.marker-arrowheads {
	display: none;
}

.joint-link.joint-theme-default .marker-vertex {
	display: none;
}

.joint-link.joint-theme-default .connection-wrap:hover {
	display: none;
}
