////////////////////////////////////////////////////////////////////////////////
// Loading
////////////////////////////////////////////////////////////////////////////////
.br-loader {
	display: none;
	padding: 3px;
	border: 1px solid var(--border-light);
	border-radius: 4px;
	background-color: var(--white);
}

.br-loader.loading {display: block;}

////////////////////////////////////////////////////////////////////////////////
// .br-loader.fixed
////////////////////////////////////////////////////////////////////////////////
.br-loader.fixed {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
 }

////////////////////////////////////////////////////////////////////////////////
// Usage at .modelWorkspace
////////////////////////////////////////////////////////////////////////////////
.modelWorkspace .br-loader {top: 51px;}

////////////////////////////////////////////////////////////////////////////////
// Usage at .navbar
////////////////////////////////////////////////////////////////////////////////
.navbar .br-loader {top: 42px;}

////////////////////////////////////////////////////////////////////////////////
// Usage at .modal-footer
////////////////////////////////////////////////////////////////////////////////
.modal-footer .br-loader {
	position: absolute;
	bottom: 20px;
	left: 12px;
}

////////////////////////////////////////////////////////////////////////////////
// Usage at .public
////////////////////////////////////////////////////////////////////////////////
.public .br-loader {
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate(-50%);
	border-color: var(--border-default);
}