///////////////////////////////////////////////////////////////////////////////
// .navbar-brand
///////////////////////////////////////////////////////////////////////////////
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #3d9970;
	cursor: default;
}

///////////////////////////////////////////////////////////////////////////////
// purelly icon nav
///////////////////////////////////////////////////////////////////////////////
.nav-icons .fa {
	font-size: 1.5em;
}

///////////////////////////////////////////////////////////////////////////////
// toolbar with icons
///////////////////////////////////////////////////////////////////////////////
.tool-icons {
	float: none;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}

.tool-icons .fa {
	font-size: 1.2em;
}

.navbar-nav.tool-icons > li > a {
	padding: 8px 12px;
}

.tool-icons .divider {
	border-right: 1px solid #e7e7e7;
}

////////////////////////////////////////////////////////////////////////////////
// .modelOptions
////////////////////////////////////////////////////////////////////////////////
.modelOptions {float: left;}

.modelName,
.modelViewiewOptions {
	float: left;
	padding: 8px 0;
	margin: 0 10px;
}

.modelName input {
	min-width: 250px;
	padding: 3px 25px 3px 5px;
	border-color: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.1);
	color: grey;
}

.inputPencil {
	float: right;
	margin-right: 6px;
	margin-top: -20px;
	position: relative;
	z-index: 2;
	color: grey;
}

////////////////////////////////////////////////////////////////////////////////
// .modelViewiewOptions
////////////////////////////////////////////////////////////////////////////////
.modelViewiewOptions {
	position: relative;
	top: 8px;
}

.modelViewiewOptions a {
	padding: 5px 10px 5px 10px;
	color: black;
	position: relative;
}

.modelViewiewOptions a:hover {opacity: 0.6;}
.modelViewiewOptions a:active {opacity: 0.2;}

////////////////////////////////////////////////////////////////////////////////
// Loading
////////////////////////////////////////////////////////////////////////////////
.br-loader {
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -20px;
	display: none;
}

///////////////////////////////////////////////////////////////////////////////
// .nav-icons dropdown-icon
///////////////////////////////////////////////////////////////////////////////
.nav-icons > dropdown-icon > .dropdown > .dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nav-icons > dropdown-icon > .dropdown > button {
	color: #777;
	background-color:transparent;
	border: 0;
	padding: 15px;
}

.nav-icons > dropdown-icon > .dropdown > button:focus {
	color: #555;
	background-color: #e7e7e7;
	text-decoration: none;
	box-shadow: none;
}
.br-loader.loading {display: block;}
