.mainHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	background-color: #efefef;
	z-index: 50;
}

.mainHeader .logo {
	float: left;
	border-right: 1px solid rgba(#000, 0.2);
	margin-left: 15px;
	cursor: pointer;
}

.mainHeader .logo strong {
	display: block;
	font-size: 1.2em;
	padding: 15px 53px;
}

/******************************************************************************/
/* .mainNav */
/******************************************************************************/
.mainNav {
	float: left;
	min-width: 500px;
}
.mainNav .mainHeaderItem {float: left;}
.mainNav .mainHeaderItem {border-right: 1px solid rgba(#000, 0.2);}

/******************************************************************************/
/* .mainHeaderItem */
/******************************************************************************/
.mainHeaderItem {
	display: block;
	font-size: 1.2em;
	font-weight: 200;
	padding: 15px;
	cursor: pointer;
	color: rgba(0,0,0, 0.8);
}

.mainHeaderItem:hover,
.mainHeaderItem.active {
	text-decoration: none;
	background: linear-gradient(to bottom,
								rgba(255,255,255, 1) 0%,
								rgba(229,229,229, 1) 100%);
}

/******************************************************************************/
/* .userActions */
/******************************************************************************/
.userActions {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.userActions .dropdownButton {float: right;}
.userActions .mainHeaderItem {border-left: 1px solid rgba(#000, 0.2);}

.userActions .dropDownList {
	list-style: none;
	background-color: #efefef;
}

.userActions .dropDownItem {
	display: block;
	padding: 10px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(0,0,0, 0.8);
	background-color: #efefef;
}

.userActions .dropDownItem:hover {
	background: linear-gradient(to bottom,
								rgba(255,255,255, 1) 0%,
								rgba(229,229,229, 1) 100%);
}

/******************************************************************************/
/* .modelOptions */
/******************************************************************************/
.modelOptions {float: left;}

.modelName,
.modelViewiewOptions {
	float: left;
	padding: 8px 0;
	margin: 0 10px;
}

.modelName input {
	min-width: 250px;
	padding: 3px 5px;
	border-color: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.1);
	color: grey;
}

.inputPencil {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: grey;
}


/******************************************************************************/
/* .modelViewiewOptions */
/******************************************************************************/
.modelViewiewOptions {
	position: relative;
	top: 2px;
}

.modelViewiewOptions a {
	padding: 5px 10px 5px 10px;
	color: black;
	position: relative;
}

.modelViewiewOptions a:hover {
	color: yellow;
}

.modelViewiewOptions a:active {
	color: red;
}

/******************************************************************************/
/* Não consegui posicionar esse botao mas nem rezando muito!  /
/******************************************************************************/
.special{margin-top: 20px;}
