///////////////////////////////////////////////////////////////////////////////
// Modal customizations
///////////////////////////////////////////////////////////////////////////////
.modal-content {
	background-color: #efefef;
}

.modal-title {
	color: #3D9970;
}

///////////////////////////////////////////////////////////////////////////////
// modelselect (In use??)
///////////////////////////////////////////////////////////////////////////////
.modelselect .nice-select {
	min-width: 260px;
}

.modelselect .nice-select.open .list {
		min-width: 260px;
}