.modal-backdrop {bottom: 0;}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.modal-content {
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	width: 100%;
}

.modal-title {float: left;}

.modalFeedback {
	overflow-x: hidden;
	width:  240px;
	float: right;
	min-height: 30px!important;
}

.modalFeedback .message {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	width: auto;
	padding: 8px 5px 5px 35px;
	letter-spacing: 0.05em;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0 1px 1px #aaa,
				inset 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #3d3d3d;
	overflow: hidden;
 }

.modalFeedback .message.error {
	border-color: #fc5858;
	background: #F0B7B7;
}

.modalFeedback .message p  {
	padding: 0;
	margin: 0;
	cursor: default;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

// addmodel
.modal-dialog {
	max-width: 500px;
}

.modelselect .nice-select {
	min-width: 260px;
}

.modelselect .nice-select.open .list {
		min-width: 260px;
}

.modal-custom-content {
	/* border: 1px solid #999; */
/* border: 1px solid rgba(0, 0, 0, .2); */
	border-radius: none;
}

.addmodel{
	background-color: #efefef;
}

.modaltitle{
	color: #3D9970;
	font-size: 18px;
}

.modal-input {
	display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.modal-input:focus {
	outline: none;
	border-color: #3D9970;
	box-shadow: 0 0 10px #3D9970;
}


.modal-input.error {
	color: rgba(red, 0.8);
	border-color: rgba(red, 0.8);
	background-color: rgba(red, 0.1);
	box-shadow: 1px 1px 1px rgba(#fff, 1) inset;
}

.modal-input.error:focus {box-shadow: 1px 1px 1px rgba(#fff, 1) inset;}
.modal-input.error:placeholder {color: rgba(red, 0.6);}

