///////////////////////////////////////////////////////////////////////////////
// .modelsList header.container
// Adjustments on Boostrap to accommodate .feedback block
///////////////////////////////////////////////////////////////////////////////
.modelsList header.container {
	position: relative;
}

.modelsList header.container .page-header {
	position: relative;
	margin-top: 60px
}

///////////////////////////////////////////////////////////////////////////////
// .modelsList .feedback
///////////////////////////////////////////////////////////////////////////////
.modelsList .feedback {
	position: absolute;
	top: -48px;
	right: 0;
	left: 0;

}