///////////////////////////////////////////////////////////////////////////////
// .modelsList header.container
// Adjustments on Boostrap to accommodate .feedback block
///////////////////////////////////////////////////////////////////////////////
.modelsList header.container {
	position: relative;
}

.modelsList header.container .page-header {
	margin-top: 60px
}

///////////////////////////////////////////////////////////////////////////////
// .modelsList .feedback
///////////////////////////////////////////////////////////////////////////////
.modelsList .feedback {
	position: absolute;
	top: 15px;
	right: 15px;
	left: 15px;	

}