////////////////////////////////////////////////////////////////////////////////
// .modelWorkspace .navbar
////////////////////////////////////////////////////////////////////////////////
.modelWorkspace .navbar {
	width: 200px;
	border-right: 1px solid #e7e7e7
}

////////////////////////////////////////////////////////////////////////////////
// .modelWorkspace .mainContent
////////////////////////////////////////////////////////////////////////////////
.modelWorkspace .mainContent {
	padding-top: 0;
}

.modelWorkspace .model-area {
	top: 0;
}

.modelWorkspace .workspace-header .page-header {
	margin-top: 10px;
}

