///////////////////////////////////////////////////////////////////////////////
// .elements-panel
///////////////////////////////////////////////////////////////////////////////
.elements-panel {
	position: absolute;
	left: 19px;
	top: 19px;
	z-index: 1;
}

///////////////////////////////////////////////////////////////////////////////
// .elements-panel .brmw-shape-palette
///////////////////////////////////////////////////////////////////////////////
.elements-panel .brmw-shape-palette {
	pointer-events: none;
	height: 0;
	overflow-y: clip;
	border-radius: 0 0 8px 8px;
}

.elements-panel.open .brmw-shape-palette {
	pointer-events: all;
	height: auto;
}

.brmw-shape-palette .joint-element {
	cursor: grab;
}

///////////////////////////////////////////////////////////////////////////////
// .brmw-shape-palette-drag-preview
///////////////////////////////////////////////////////////////////////////////
.brmw-shape-palette-drag-preview {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	pointer-events: none;
	opacity: .7;
}