////////////////////////////////////////////////////////////////////////////////
// .projectsList
////////////////////////////////////////////////////////////////////////////////
.projectsList .modelType {
	position: relative;
	top: 5px;
	margin-right: 6px;
}

.projectsList .model-name {
	display: block;
	max-width: 500px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}