/******************************************************************************/
/* .content.public */
/******************************************************************************/
.content.public {padding-top: 50px;}

/******************************************************************************/
/* .publicHeader */
/******************************************************************************/
.publicHeader {
	text-align: center;
	max-width: 400px;
	margin: 0 auto 10px auto;
}

/******************************************************************************/
/* .publicBox */
/******************************************************************************/
.publicBox {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px 30px 40px 30px;
	border: 1px solid rgba(#000, 0.2);
	border-radius: 2px;
	margin-bottom: 40px;
	background-color: rgba(#000, 0.02)
}

/******************************************************************************/
/* .callToAction */
/******************************************************************************/
.callToAction {
	text-align: center;
	max-width: 400px;
	margin: 0 auto 10px auto;
}

.callToAction .button:not(:last-child) {margin-bottom: 10px;}

/*********************************************************************/
/* .specialHeader */
/*********************************************************************/

.specialHeader {
    position: relative;
    margin-bottom: 20px;
    min-height: 60px;
    background: rgba(255, 255, 255, 0.9);
}

.specialHeader div {
    float: right;
    padding: 15px;
}