////////////////////////////////////////////////////////////////////////////////
// .public-header
////////////////////////////////////////////////////////////////////////////////
.public-header {
	padding: 16px;
}

.public-header .actions {
	float: right;
}

////////////////////////////////////////////////////////////////////////////////
// .public-body
////////////////////////////////////////////////////////////////////////////////
.public-body .container {
	position: relative;
	max-width: 500px;
}

.public-body .feedback {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .public-logo
////////////////////////////////////////////////////////////////////////////////
.public-logo {
	display: flex;
	vertical-align: middle;
	justify-content: center;
	margin: 72px auto 48px auto;
}

.public-logo > img {
	margin-right: 12px;
}

.public-logo > h1 {
	margin: 0;
}