///////////////////////////////////////////////////////////////////////////////
// Box Model
///////////////////////////////////////////////////////////////////////////////
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {box-sizing: inherit;}

////////////////////////////////////////////////////////////////////////////////
// General styles
////////////////////////////////////////////////////////////////////////////////
body {

	font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: var(--gray-20);
}

a,
.link {
	color: var(--brand-default);
	cursor: pointer;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
	color: var(--brand-primary-10);
}

a:focus:not(:focus-visible) {
	outline: none;
}

a:focus-visible {
	outline: none;
	box-shadow: 0 2px 0 0 var(--brand-default);
}

.svg-inline--fa {user-select: none;}

////////////////////////////////////////////////////////////////////////////////
// .mainContent
////////////////////////////////////////////////////////////////////////////////
.mainContent {
	padding-top: 50px;
	height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// .wrapper
////////////////////////////////////////////////////////////////////////////////
.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
// .draggable-paper
////////////////////////////////////////////////////////////////////////////////
.draggable-paper.dragging {
	opacity: .7;
}

////////////////////////////////////////////////////////////////////////////////
// .page-header (Overwrite bootstrap)
////////////////////////////////////////////////////////////////////////////////
.page-header {
	border-color: var(--border-default);
}

////////////////////////////////////////////////////////////////////////////////
// .userPreferences
////////////////////////////////////////////////////////////////////////////////
.userPreferences {
	padding-bottom: 96px;
}