/******************************************************************************/
/* .General styles */
/******************************************************************************/
body {
	font-size: 10pt;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: rgba(0,0,0, 0.8);
}

a,
.link {color: rgba(#3D9970, 1);}

.fa {user-select: none;}

/******************************************************************************/
/* .view */
/******************************************************************************/
.view {
	width: 100vw;
	height: 100vh;
}

/******************************************************************************/
/* .mainContent */
/******************************************************************************/
.mainContent {padding-top: 47px;}
.modelsList .mainContent {padding-top: calc(47px + 40px);}

.workspaceConceptual .mainContent,
.workspaceLogic .mainContent {
	padding-top: calc(47px + 20px);
//	margin-left: 126px;

	height:100%;
	width:100%;
	overflow-y: auto;
	overflow-x: auto;
}


/******************************************************************************/
/* .contentHeader */
/******************************************************************************/
.contentHeader {margin-bottom: 30px;}

.headerText {
	font-size: 2em;
	font-weight: 100;
	width: 300px;
	display: inline-block;
}

.wrapper .headerButton {
	float: right;
	margin-top: -6px;
}

/******************************************************************************/
/* .wrapper */
/******************************************************************************/
.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

/******************************************************************************/
/* .componentsList */
/******************************************************************************/
.componentsList {
	position: fixed;
	top: 46px;
	bottom: 0;
	left: 0;
	width: 126px;
	border-right: 1px solid rgba(#000, 0.2);
	background-color: #efefef;
	user-select: none;
}

.componentsList .stencil {border: none;}
.componentsList .stencil .elements {background-color: transparent;}

/******************************************************************************/
/* .modelContent */
/******************************************************************************/
.modelContent {
	position: absolute;
	top: 48px;
	right: 0;
	bottom: 0;
	left: 127px;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
}

/******************************************************************************/
/* .modelProperties */
/******************************************************************************/
.modelProperties {
	position: fixed;
	z-index: 10;
	top: 46px;
	right: -165px;
	bottom: 0;
	width: 210px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #efefef;
	transition: 0.3s ease-in-out right;
}

.modelProperties.active {right: 0;}

.modelProperties .action {
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 20px;
	left: -30px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px 0 0 3px;
	background-color: #efefef;
	cursor: pointer;
}

.angle-double-icon {
	position: relative;
	top: 3px;
	font-size: 1.7em;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.propertiesContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	overflow-y: scroll;
}

/******************************************************************************/
/* .modelProperties */
/******************************************************************************/
.modelProperties .fieldInput {padding: 5px 10px;}
.modelProperties .nice-select {width: 100%;}
.modelProperties .nice-select.open .list {width: 100%;}

/******************************************************************************/
/* .modelActions */
/******************************************************************************/
.modelActions {
	position: absolute;
	top: 20px;
	left: 20px;
}

/******************************************************************************/
/* .listLine */
/******************************************************************************/
.listLine:hover {
	cursor: pointer;
	background-color: #96D3B7;
}

.listLine:hover .deleteIcon {display: block;}

.deleteIcon {
	display: none;
	position : absolute;
	z-index:100;
}

/******************************************************************************/
/* .modelPropert */
/******************************************************************************/
.editionColumn {
	margin-top: 5px;
}

.editionColumn .editionItem {
	margin-bottom: 5px;
}

.editionItem .fieldInput {
	padding: 2px 5px;
	font-size: 1.0em;
}

/******************************************************************************/
/* .temp */
/******************************************************************************/

.joint-paper {
//	background-color: blue;
}

/******************************************************************************/
/* .paperScroller */
/******************************************************************************/

.paper-scroller{position:relative;overflow:scroll;box-sizing:border-box;width:100%;height:100%}
.paper-scroller>.paper-scroller-background{margin:0;position:relative;display:inline-block}
.paper-scroller .joint-paper{margin:0;position:absolute;display:inline-block}
.paper-scroller .joint-paper>svg{display:block}
.paper-scroller[data-cursor=grab]{cursor:all-scroll;cursor:-webkit-grab;cursor:-moz-grab;cursor:grab}
.paper-scroller[data-cursor=grab].is-panning{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}
