///////////////////////////////////////////////////////////////////////////////
// Box Model
///////////////////////////////////////////////////////////////////////////////
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {box-sizing: inherit;}

////////////////////////////////////////////////////////////////////////////////
// .separator
////////////////////////////////////////////////////////////////////////////////
.separator {
	width: 100%;
	border-color: #cecece;
}

////////////////////////////////////////////////////////////////////////////////
// General styles
////////////////////////////////////////////////////////////////////////////////
body {
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: rgba(0,0,0, 0.8);
}

a,
.link {
	color: rgba(#3D9970, 1);
	cursor: pointer;
}

.fa {user-select: none;}

////////////////////////////////////////////////////////////////////////////////
// .mainContent
////////////////////////////////////////////////////////////////////////////////
.mainContent {
	padding-top: 50px;
	height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// .header-actions
////////////////////////////////////////////////////////////////////////////////
.header-actions {
	margin-top: 20px;
}

////////////////////////////////////////////////////////////////////////////////
// .wrapper
////////////////////////////////////////////////////////////////////////////////
.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
// .stencil-lis
////////////////////////////////////////////////////////////////////////////////
.stencil-list {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 215px;
	border-right: 1px solid #e7e7e7;;
	background-color: #f8f8f8;
	user-select: none;
}

.stencil-list .stencil {
	float: none;
	width: 125px;
	margin: 16px auto 0 auto;
	border: none;
}

.stencil-list .stencil .elements {
	background-color: forestgreen;
}

////////////////////////////////////////////////////////////////////////////////
// .model-area
////////////////////////////////////////////////////////////////////////////////
.model-area {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 215px;
	overflow: hidden;
	box-sizing: border-box;
}

.workspace-header {
	position: relative;
}

.workspace-header .page-header {
	padding: 0 15px;
	margin-top: 8px;
	margin-bottom: 0;
}

.workspace-header .page-header .header-actions {
	margin-top: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .model-properties
////////////////////////////////////////////////////////////////////////////////
.model-properties {
	position: fixed;
	z-index: 10;
	top: 88px;
	right: -224px;
	bottom: 0;
	width: 240px;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	transition: 0.3s ease-in-out right;
}

.model-properties.active {right: 0;}

.model-properties .action {
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 3px;
	left: -25px;
	text-align: center;
	border: 1px solid #e7e7e7;
	border-radius: 3px 0 0 3px;
	background-color: #f8f8f8;
	cursor: pointer;
}

.action .angle-double-icon {
	position: relative;
	top: 3px;
	font-size: 1.2em;
	color: rgb(119, 119, 119);
	font-weight: bold;
}

.properties-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 16px;
	overflow-y: scroll;
}

////////////////////////////////////////////////////////////////////////////////
// .editionColumn
////////////////////////////////////////////////////////////////////////////////
.editionColumn {
	margin-top: 5px;
}

.editionColumn .editionItem {
	margin-bottom: 5px;
}

.editionItem .fieldInput {
	padding: 2px 5px;
	font-size: 1.0em;
}

////////////////////////////////////////////////////////////////////////////////
// .paper-scroller
////////////////////////////////////////////////////////////////////////////////
.paper-scroller {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.paper-scroller .joint-paper {
	position: absolute;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 20px rgba(0,0,0, 0.1);
	// background-color: purple; // Uncomment to debugging purposes
}

.paper-scroller .joint-paper > svg {
	display: block;
}

.paper-scroller[data-cursor=grab] {
	cursor: grab;
}

.paper-scroller[data-cursor=grab].is-panning {
	cursor: grabbing;
}
