body {
	font-size: 10pt;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: rgba(0,0,0, 0.8);
}

a,
.link {color: rgba(#fa6900, 1);}

/******************************************************************************/
/* .mainContent */
/******************************************************************************/
.mainContent {padding-top: calc(47px + 40px);} //.mainHeader height + space

/******************************************************************************/
/* .contentHeader */
/******************************************************************************/
.contentHeader {
	margin-bottom: 30px;
}

.headerText {
	font-size: 2em;
	font-weight: 100;
	width: 300px;
	display: inline-block;
}

.wrapper .headerButton {
	float: right;
	margin-top: -6px;
}

/******************************************************************************/
/* .wrapper */
/******************************************************************************/
.wrapper {
	max-width: 900px;
	padding: 0 20px;
	margin: 0 auto;
}

/******************************************************************************/
/* .userWorkspace */
/******************************************************************************/

/******************************************************************************/
/* .componentsList */
/******************************************************************************/
.componentsList {
	position: fixed;
	top: 46px;
	bottom: 0;
	left: 0;
	width: 126px;
	border-right: 1px solid rgba(#000, 0.2);
	background-color: #efefef;
}

.componentsList .stencil {border: none;}
.componentsList .stencil .elements {background-color: transparent;}

/******************************************************************************/
/* .modelWorkspace */
/******************************************************************************/
.modelWorkspace {
	position: absolute;
	top: 48px;
	right: 0;
	bottom: 0;
	left: 127px;
}

// .paperHolder {
// 	position: fixed;
// 	top: 58px;
// 	right: 60px;
// 	bottom: 10px;
// 	left: 137px;
// 	background-color: yellow;
// }

/******************************************************************************/
/* .modelProperties */
/******************************************************************************/
.modelProperties {
	position: fixed;
	top: 46px;
	right: -175px;
	bottom: 0;
	width: 220px;
	padding: 20px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #efefef;
	transition: 0.3s ease-in-out right;
}

.modelProperties.active {right: 0;}

.modelProperties .action {
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 20px;
	left: -30px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px 0 0 3px;
	background-color: #efefef;
	cursor: pointer;
}

.angle-double-icon {
	position: relative;
	top: 3px;
	font-size: 1.7em;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.modelProperties .fieldInput {padding: 5px 10px;}

.modelProperties .nice-select {
	width: 100%;
}

.modelProperties .nice-select.open .list {
	width: 100%;
}

/******************************************************************************/
/* .modelActions */
/******************************************************************************/
.modelActions {
	position: absolute;
	top: 20px;
	left: 20px;
}

/******************************************************************************/
/* .fa */
/******************************************************************************/
.fa {
	user-select: none;
}