/******************************************************************************/
/* tables */
/******************************************************************************/
table {width: 100%;}

th,
td {
	text-align: left;
	padding: 15px;
	font-weight: 300;
}

/******************************************************************************/
/* thead */
/******************************************************************************/
thead tr {
	border-top: 1px solid rgba(#000, 0.2);
	border-bottom: 1px solid rgba(#000, 0.2);
}

th {
	font-size: 1.4em;
	font-weight: 200;
}

/******************************************************************************/
/* tbody */
/******************************************************************************/
tbody tr {border-bottom: 1px solid rgba(#000, 0.2);}
tbody tr:hover {background-color: rgba(#fff, 1);}