///////////////////////////////////////////////////////////////////////////////
// <th>, <td> adjustments
///////////////////////////////////////////////////////////////////////////////
.table > thead > tr > th,
.table > tbody > tr > td {
	vertical-align: middle;
}

.table thead th strong {
	font-weight: 600;
}

///////////////////////////////////////////////////////////////////////////////
// .table-hover
///////////////////////////////////////////////////////////////////////////////
.table-hover tbody tr {
	cursor: pointer;
}

}

}

}

