/****************************************/
/* External styles */
/*You can remove it when use
SweetFeedback in your project*/
/****************************************/
/*body {background: url(noise.png) repeat #d6d6d6;}*/

/****************************************/
/* Feedbacks */
/****************************************/
.feedback {
	overflow-x: hidden;
}

.feedback .message {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	width: auto;
	padding: 12px 12px 12px 35px;
	letter-spacing: 0.05em;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0 1px 1px #aaa,
				inset 0 1px 1px rgba(255, 255, 255, 0.75);
	margin-bottom: 15px;
	color: #3d3d3d;
	overflow: hidden;
}

.feedback .message.warning {
	border-color: #bbb90c;
	background: #8c8a01;
	background: url(iconWarning.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-ms-linear-gradient(top, #fcfb87 0%, #e8e87d 100%);
	background: url(iconWarning.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-webkit-linear-gradient(top, #fcfb87 0%, #e8e87d 100%);
	background: url(iconWarning.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-moz-linear-gradient(top, #fcfb87 0%, #e8e87d 100%);
}

.feedback .message.error {
	border-color: #fc5858;
	background: #F0B7B7;
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-ms-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-webkit-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-moz-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
}

.modalFeedback .message.error {
	border-color: #fc5858;
	background: #F0B7B7;
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-ms-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-webkit-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
	background: url(iconError.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-moz-linear-gradient(top, #fbbfbf 0%, #e8b0b0 100%);
}

.feedback .message.success {
	border-color: #09c600;
	background: #95e391;
	background: url(iconSuccess.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-ms-linear-gradient(top, #95e391 0%, #89d186 100%);
	background: url(iconSuccess.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-webkit-linear-gradient(top, #95e391 0%, #89d186 100%);
	background: url(iconSuccess.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-moz-linear-gradient(top, #95e391 0%, #89d186 100%);
}

.feedback .message.info {
	border-color: #198fb0;
	background: #95e391;
	background: url(iconInfo.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-ms-linear-gradient(top, #9be5fa 0%,#8fd3e7 100%);
	background: url(iconInfo.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-webkit-linear-gradient(top, #9be5fa 0%,#8fd3e7 100%);
	background:	url(iconInfo.png) 12px center no-repeat,
				url(noiseStripes.png),
				url(noise.png),
				-moz-linear-gradient(top, #9be5fa 0%, #8fd3e7 100%);
}

.feedback .message p {
	padding: 0;
	margin: 0;
	cursor: default;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/****************************************/
/* Animations */
/****************************************/
.sd, .su, .sl, .sr {position: relative;}

/****************************************/
/* WebKit Animations */
/****************************************/
.sd {-webkit-animation: sd 1s ease;}
.su {-webkit-animation: su 1s ease;}
.sl {-webkit-animation: sl 1s ease;}
.sr {-webkit-animation: sr 1s ease;}

@-webkit-keyframes sd { from{top: -200px;} to{top: 0;} }
@-webkit-keyframes su { from{top:  200px;} to{top: 0;} }
@-webkit-keyframes sl { from{left: -500px;} to{left: 0;} }
@-webkit-keyframes sr { from{left: 1000px;} to{left: 0;} }


/****************************************/
/* Gecko Animations */
/****************************************/
.sd {-moz-animation: sd 1s ease;}
.su {-moz-animation: su 1s ease;}
.sl {-moz-animation: sl 1s ease;}
.sr {-moz-animation: sr 1s ease;}

@-moz-keyframes sd { from{top: -200px;} to{top: 0;} }
@-moz-keyframes su { from{top:  200px;} to{top: 0;} }
@-moz-keyframes sl { from{left: -500px;} to{left: 0;} }
@-moz-keyframes sr { from{left: 1000px;} to{left: 0;} }

/****************************************/
/* Experimental animations */
/****************************************/
.feedback .message:hover {
	-moz-transition: box-shadow 0.3s ease-in;
	box-shadow: 0 0px 30px transparent,
				inset 0 1px 1px rgba(255, 255, 255, 0.75);
}
