<div data-ng-controller="conceptualController" data-ng-init="initView()">
	<header class="mainHeader cf">
		<h1 class="logo">
			<strong>BR Modelo</strong>
		</h1><!-- End .logo -->
		<aside class="modelOptions cf">
			<div class="modelName">
				<input
					class="modelTitleItem fieldInput"
					type="text"
					data-ng-model="model.name"
				/>
			</div><!-- End .modelName -->
			<div class="modelViewiewOptions">
				<!-- Zoom, Undo, etc,etc -->
			</div><!-- End .modelViewiewOptions -->
		</aside><!-- End .modelOptions -->

		<aside class="userActions cf">
			<div class="dropdownButton"> <!-- Add/Remove class .active to show/hide submenu -->
				<span class="mainHeaderItem">Options</span>
				<ul class="dropDownList">
					<li><a class="dropDownItem" href="#">Profile</a></li>
					<li><a class="dropDownItem" href="#">Preferences</a></li>
					<li><a class="dropDownItem" href="#" ng-click="logout">Logout</a></li>
				</ul><!-- End .dropDownList -->
			</div><!-- End .dropdown -->
		</aside><!-- End .userActions -->
	</header>

	<div class="userWorkspace">
		<div class="conceptual">

			<section id="stencil-holder" class="componentsList">
				<header class="vhide">
					<h2>Models list</h2>
				</header><!-- List of models used by the user -->
			</section><!-- End .componentsList -->

			<section id="content" class="modelWorkspace">
				<aside class="modelActions">
					<a class="button style1" data-ng-click="saveModel()">Salvar</a>
				</aside><!-- End .modelActions -->
				<!-- Here is the space used by the user to work -->
			</section>	<!-- End .modelWorkspace -->

			<aside class="modelProperties" data-ng-class="{'active': editionVisible}">
				<!-- <button class="action" > -->
				<span class="action" data-ng-click="changeVisible()">
					<i class="fa angle-double-icon" data-ng-class="!editionVisible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
				</span><!-- </button> -->
				<div class="field">
					<label class="fieldLabel">Nome</label>
					<input class="fieldInput" type="text" data-ng-model="selectedElement.value" ng-blur="applyChanges()"> </input>
				</div><!-- End .field -->
				<!-- When an element is selected, it's properties are showed here. -->
			</aside>	<!-- End .modelProperties -->

		</div>	<!-- End .conceptual -->
	</div><!-- End .userWorkspace -->
<div>