<div class="mainContent public">
	<section class="userLogin" data-ng-controller="LoginController">

		<aside class="feedback">
			<div class="wrapper">
				<div class="message error sr loginFeeback" data-ng-class="{'hide': !config.usernotfound}">
					<p>Login or password incorrect :(</p>
				</div><!-- End .message -->
			</div><!-- End .wrapper -->
		</aside><!-- End #feedback -->

		<div class="wrapper">

			<header class="publicHeader">
				<h1 class="logo">
					<strong class="vhide">BR Modelo</strong>
					<img src="imgs/120_01.png" alt="BRModelo Logo">
				</h1><!-- End .logo -->
			</header>

			<form class="loginForm publicBox">
				<div class="field" data-ng-class="{'error': config.submitted && !config.validmail}">
					<label for="userEmail" class="fieldLabel">Email</label>
					<input
						id="userEmail"
						class="fieldInput"
						type="text"
						placeholder="Email"
						data-ng-model="credentials.username"
					/>
				</div><!-- End .field -->
				<div class="field" data-ng-class="{'error': config.submitted && !config.validpassword}">
					<label for="userPassword" class="fieldLabel">Senha</label>
					<input
						id="userPassword"
						class="fieldInput"
						type="password"
						class="form-control"
						placeholder="Password"
						data-ng-model="credentials.password"
					/>
				</div><!-- End .field -->
				<div class="actions">
					<button
						type="button"
						class="button style1 block"
						data-ng-click="login(credentials)"
					>Login</button>
				</div><!-- End .actions -->
			</form><!-- End .loginForm -->

			<footer class="callToAction">
				<button type="button" class="button block" ng-click="register()" >Create account</button>
				<button type="button" class="button block vhide">Forgot password</button>
			</footer><!-- End .callToAction -->

		</div><!-- End .wrapper -->
	</section><!-- End .userLogin -->

</div><!-- End .mainContent -->