<header class="specialHeader cf" >
  <div >
    <button class="br-button" data-ui-sref="register"> Criar conta </button>
  </div>
</header>
<div class="public">
	<section class="userLogin" data-ng-controller="LoginController as login">
		<aside class="feedback">
			<div class="wrapper">
				<div class="message error sr loginFeeback" data-ng-class="{'hide': !login.feedback.showing}">
					<p>{{ login.feedback.message }}</p>
				</div><!-- End .message -->
			</div><!-- End .wrapper -->
		</aside><!-- End #feedback -->
		<div class="wrapper">
			<section class="box login cf" >
				<header class="publicHeader">
					<h1> brModelo </h1><!-- End .logo -->
				</header>
				<form class="cf" name="loginForm" ng-submit="login.submitForm(loginForm.$valid)" novalidate>
          <div class="field" data-ng-class="{'error': loginForm.email.$invalid && (!loginForm.email.$pristine || login.submitted)}">
						<input
							id="userEmail"
							class="specialInput"
							type="email"
              name="email"
							placeholder="Email"
							ng-model="login.credentials.username"
              required
						/>
					</div><!-- End .field -->
					<div class="field"  data-ng-class="{'error': loginForm.password.$invalid && (!loginForm.password.$pristine || login.submitted)}">
						<input
							id="userPassword"
							class="specialInput"
							type="password"
							name="password"
							placeholder="Password"
							ng-model="login.credentials.password"
              required
						/>
					</div><!-- End .field -->
					<div class="actions">
						<button type="submit" class="br-button">Login</button>
					</div><!-- End .actions -->
				</form><!-- End .loginForm -->
		  </section>
		</div><!-- End .wrapper -->
	</section><!-- End .userLogin -->
</div><!-- End .mainContent -->