<section
	class="view modelWorkspace workspaceLogic"
	data-ng-controller="logicController"
	data-ng-init="initView()"
>

	<header class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<strong class="navbar-brand" data-ui-sref="main">BR Modelo</strong>
		</div><!-- End .navbar-header -->

		<ul class="nav navbar-nav nav-icons pull-right" ng-controller="optionsController">
			<brdropdown title="Options" list="menuItens"></brdropdown>
		</ul>

		<img
			src="assets/img/loading-dots.gif"
			alt="Loading"
			class="br-loader"
			ng-class="{'loading': loading}"
		/>
	</header>

	<section class="mainContent">
		<section class="stencil-list" id="stencil-holder">
			<!-- Insert elemes to be used in model constrution -->
		</section>

		<section id="content" class="model-area">
			<header class="workspace-header">
				<div class="page-header clearfix">
					<h2 class="h4 pull-left">Modelo lógico de: {{model.name}}</h2>
					<aside class="header-actions pull-right">
						<a class="br-button" data-ng-click="saveModel()">Salvar</a>
					</aside>
				</div>
				<ul class="nav navbar-nav tool-icons">
					<li><a data-ng-click="undoModel()" title="Desfazer"><i class="fa fa-reply"></i></a></li>
					<li class="divider"><a data-ng-click="redoModel()" title="Refazer"><i class="fa fa-share"></i></a></li>
					<li><a data-ng-click="zoomIn()" title="Zoom +"><i class="fa fa-search-plus"></i></a></li>
					<li class="divider"><a data-ng-click="zoomOut()" title="Zoom -"><i class="fa fa-search-minus"></i></a></li>
					<li><a data-ng-click="convertModel()" title="Gerar modelagem lógica"><i class="fa fa-table"></i></a></li>
					<li class="divider"><a data-ng-click="generateSQL()" title="Gerar SQL"><i class="fa fa-database"></i></a></li>
					<li class="divider"><a data-ng-click="print()" title="Imprimir"><i class="fa fa-print"></i></a></li>
				</ul>
				<aside class="feedback">
					<div class="message success sd" data-ng-class="{'hide': !feedback.showing}">
						<p>{{ feedback.message }}</p>
					</div><!-- End .message -->
				</aside><!-- End #feedback -->
			</header><!-- End .workspace-header -->

			<aside class="model-properties" data-ng-class="{'active': editionVisible}">

				<span class="action" data-ng-click="changeVisible()">
					<i class="fa angle-double-icon" data-ng-class="!editionVisible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
				</span>

				<div class="properties-content">
					<div class="fields" ng-show="selectedElement != null">

						<div class="field">
							<label class="fieldLabel">Nome</label>
							<input
								class="fieldInput"
								type="text"
								ng-model="selectedName"
								ng-change="changeName()"
							/>
						</div><!-- End .field -->

						<div class="columnsList">
							<label class="fieldLabel">Colunas</label>
							<i class="fa fa-plus-circle addColumn" aria-hidden="true" ng-click="showAddColumn(true)"></i>
							<div class="columnDetails columnItem" ng-show="addColumnVisible">
								<label class="titleLabel">NOME</label>
								<input class="fieldInput" type="text" ng-model="addColumnModel.name"/>

								<label class="titleLabel">TIPO</label>
								<br-select-dropdown options="['VARCHAR', 'STRING', 'INTEGER']" selected="{'value': 'INTEGER'}" on-select-action="selectAddType"> </br-select-dropdown>

								<div class="check">
									<input type="checkbox" id="c1" ng-model="addColumnModel.PK"/>
									<label for="c1">PK</label>
								</div>

								<div class="check">
									<input type="checkbox" id="c2" ng-model="addColumnModel.FK"/>
									<label for="c2">FK</label>
								</div>

								<div class="dropdownElement">
									<br-select-dropdown options="tableNames" selected="{'value': 'ORIGEM'}" on-select-action="selectAddTableOrigin" ng-disabled="true"> </br-select-dropdown>
								</div>

								<div class="actions">
									<i class="fa fa-check-circle add" aria-hidden="true" ng-click="addColumn(addColumnModel)"></i>
									<i class="fa fa-times-circle cancel" aria-hidden="true" ng-click="showAddColumn(false)"></i>
								</div><!-- End . -->
							</div><!-- End .columnDetails -->

							<div class="columnItem" ng-repeat="column in columns track by $index">
								<label draggable="true" ng-click="editionColumnMode(column, $index)" ng-show="!column.expanded"> {{column.name}}</label>
								<i
									class="fa fa-trash"
									aria-hidden="true"
									ng-click="deleteColumn(column, $index); $event.stopPropagation();"
								></i>
								<div class="columnDetails" ng-show="column.expanded">
									<label class="titleLabel">NOME</label>
									<input class="fieldInput" type="text" ng-model="editColumnModel.name"/>
									<label class="titleLabel">TIPO</label>
									<br-select-dropdown options="['DATE', 'FLOAT', 'VARCHAR(n)', 'CHAR(n)', 'INT']" selected="{'value': column.type }" on-select-action="selectEditType"> </br-select-dropdown>
									<div class="check">
										<input type="checkbox" id="c1" ng-model="editColumnModel.PK"/>
										<label for="c1">PK</label>
									</div>
									<div class="check">
										<input type="checkbox" id="c2" ng-model="editColumnModel.FK"/>
										<label for="c2">FK</label>
									</div>
									<div class="dropdownElement">
										<br-select-dropdown options="tableNames" selected="{'value': 'ORIGEM'}" on-select-action="selectAddTableOrigin" ng-disabled="true"> </br-select-dropdown>
									</div>
									<div class="actions">
										<i class="fa fa-check-circle add" aria-hidden="true" ng-click="editColumn(column, editColumnModel, $index); expanded=!expanded;"></i>
										<i class="fa fa-times-circle cancel" aria-hidden="true" ng-click="column.expanded=!column.expanded"></i>
									</div><!-- End . -->
								</div><!-- End .columnDetails -->
							</div><!-- End .columnItem -->
						</div><!-- End .columnsList -->

					</div><!-- End .fields -->

					<div class="fields" ng-show="selectedLink != null">
						<div class="field">
							<label class="fieldLabel">Cardinalidade</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{selectedLink.a.card}}</button>
								</div><!--/dropdown-tmp-trigger-->
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="updateCardA('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardA('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardA('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardA('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div><!-- End .field -->

						<div class="field">
							<label class="fieldLabel">Cardinalidade</label>
							<div
								class="dropdown-tmp dropdown-tmp-btn"
								broption=""
								tabindex="0"
							>
								<div class="dropdown-tmp-trigger">
									<button class="btn ng-binding">{{selectedLink.b.card}}</button>
								</div><!--/dropdown-tmp-trigger-->
								<ul class="dropdown-tmp-list" style="min-width: 140px;">
									<li class="dropdown-tmp-item" ng-click="updateCardB('(0, 1)')">
										<span>(0, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardB('(0, n)')">
										<span>(0, n)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardB('(1, 1)')">
										<span>(1, 1)</span>
									</li>
									<li class="dropdown-tmp-item" ng-click="updateCardB('(1, n)')">
										<span>(1, n)</span>
									</li>
								</ul>
							</div>
						</div><!-- End .field -->
					</div> <!-- End .fields -->

				</div><!-- End .properties-content -->
			</aside><!-- End .model-properties -->

	</section><!-- End .mainContent -->
</section><!-- End .view -->
