<header
	class="mainHeader cf"
	data-ng-controller="mainController"
	data-ng-include=""
	src="'angular/view/mainHeader.html'"
></header>

</div><!-- End . -->
<div class="mainContent">
	<section class="userWorkspace" data-ng-controller="listController as ctrl">
		<header class="contentHeader">
			<div class="wrapper">
				<h2 class="headerText">Modelagens</h2>
				<a class="br-button headerButton" data-ng-click="ctrl.newModel()">Novo Modelo</a>
			</div><!-- End .wrapper -->
		</header><!-- End .contentHeader -->
		<div class="projectsList">
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th><strong>Nome</strong></th>
							<th><strong>Tipo</strong></th>
							<th><strong>Author</strong></th>
							<th><strong>Criação</strong></th>
							<th colspan="2"><strong class="vhide">Actions</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="model in ctrl.models">
							<td>{{model.name}}</td>
							<td>{{model.type}}</td>
							<td>{{model.who}}</td>
							<td>{{model.created | date:'dd/MM/yyyy'}}</td>
							<td> <a ng-click="ctrl.openModel(model)"> open </a> </td>
							<td> <a ng-click="ctrl.deleteModel(model)"> delete </a> </td>
						</tr>
					</tbody>
				</table>
			</div><!-- End .wrapper -->
		</div><!-- End .projectsList -->
	</section><!-- End .userWorkspace -->
</div><!-- End .mainContent -->
