<section class="view modelsList">

	<header
		class="navbar navbar-default navbar-fixed-top"
		data-ng-controller="mainController"
		data-ng-include=""
		src="'angular/view/mainHeader.html'"
	></header>

	<section
		class="mainContent"
		data-ng-controller="listController as ctrl"
		ng-init="initList()"
	>
		<header class="container">
			<div class="page-header clearfix">
				<h2 class="h2 pull-left">Modelagens</h2>
				<aside class="header-actions pull-right">
					<a class="br-button" data-ng-click="ctrl.newModel()">Nova Modelagem</a>
				</aside>
			</div><!-- End .page-header -->
		</header><!-- End .container -->

		<div class="container projectsList">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><strong>Tipo</strong></th>
							<th><strong>Nome</strong></th>
							<th><strong>Autor</strong></th>
							<th><strong>Criação</strong></th>
							<th colspan="1"><strong class="vhide actions-cell">Actions</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="model in ctrl.models" class="listLine">
							<td ng-click="ctrl.openModel(model)">{{ctrl.getTypeName(model.type)}}</td>
							<td ng-click="ctrl.openModel(model)">{{model.name}}</td>
							<td ng-click="ctrl.openModel(model)">{{ctrl.getAuthorName(model.who)}}</td>
							<td ng-click="ctrl.openModel(model)">{{model.created | date:'dd/MM/yyyy'}}</td>
							<td class="actions-cell">
								<i class="fa fa-trash" aria-hidden="true" ng-click="ctrl.deleteModel(model)"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- End .table-responsive -->
		</div><!-- End .container.projectsList -->

	</section><!-- End .mainContent -->
</section><!-- End .view -->
