<section class="view modelsList">

	<header
		class="mainHeader cf"
		data-ng-controller="mainController"
		data-ng-include=""
		src="'angular/view/mainHeader.html'"
	></header>

	<section
		class="mainContent"
		data-ng-controller="listController as ctrl"
		ng-init="initList()"
	>
		<header class="contentHeader">
			<div class="wrapper">
				<h2 class="headerText">Modelagens</h2>
				<a class="br-button headerButton" data-ng-click="ctrl.newModel()">Nova Modelagem</a>
			</div><!-- End .wrapper -->
		</header><!-- End .contentHeader -->

		<div class="projectsList">
			<div class="wrapper">
				<table>
					<thead>
						<tr>
							<th><strong>Tipo</strong></th>
							<th><strong>Nome</strong></th>
							<th><strong>Autor</strong></th>
							<th><strong>Criação</strong></th>
							<th colspan="1"><strong class="vhide">Actions</strong></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="model in ctrl.models" class="listLine">
							<td ng-click="ctrl.openModel(model)">{{ctrl.getTypeName(model.type)}}</td>
							<td ng-click="ctrl.openModel(model)">{{model.name}}</td>
							<td ng-click="ctrl.openModel(model)">{{ctrl.getAuthorName(model.who)}}</td>
							<td ng-click="ctrl.openModel(model)">{{model.created | date:'dd/MM/yyyy'}}</td>
							<td> <i class="fa fa-trash deleteIcon" aria-hidden="true" ng-click="ctrl.deleteModel(model)"></i> </td>
						</tr>
					</tbody>
				</table>
			</div><!-- End .wrapper -->
		</div><!-- End .projectsList -->

	</section><!-- End .mainContent -->
</section><!-- End .view -->
