<h1 class="logo">
	<strong class="vhide">BR Modelo</strong>
	<img src="imgs/120_01.png" alt="BRModelo Logo">
</h1><!-- End .logo -->
<nav class="mainNav">
	<a class="mainHeaderItem" data-ui-sref="main">Workspace</a>
	<a class="mainHeaderItem" ng-click="newModel()">Conceitual</a>
	<a class="mainHeaderItem" data-ui-sref="logic">Lógico</a>
</nav><!-- End .mainNav -->
<aside class="userActions cf">
	<div class="dropdownButton"> <!-- Add/Remove class .active to show/hide submenu -->
		<span class="mainHeaderItem">Options</span>
		<ul class="dropDownList">
			<li><a class="dropDownItem" href="#">Profile</a></li>
			<li><a class="dropDownItem" href="#">Preferences</a></li>
			<li><a class="dropDownItem" href="#" ng-click="logout">Logout</a></li>
		</ul><!-- End .dropDownList -->
	</div><!-- End .dropdown -->
</aside><!-- End .userActions -->