<header
	class="mainHeader cf"
	data-ng-controller="mainController"
	data-ng-include=""
	src="'angular/view/mainHeader.html'"
></header>

<div data-ng-controller="sqlController as ctrl" class="sqlpage">

<!-- <text-angular ng-model="htmlVariable" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="active"></text-angular> -->

  <!-- <div text-angular ng-model="ctrl.pagex" ta-text-editor-class="border-around" class="ta-root focussed">
		<p>Hello World!</p>
	</div> -->

 <page  text-angular size="A4">
  	<h1> teste </h1>
</page>

</div>
