<div>
	<button
		type="button"
		class="br-button br-button--full"
		ng-show="!$ctrl.formVisible"
		ng-click="$ctrl.toggleForm()"
	>
		{{'Criar view' | translate }}
	</button>

	<form class="card-item views" ng-show="$ctrl.formVisible">
		<div class="form-group">
			<labelfor="view-based-in">{{ 'Based in' | translate }}</label>
			<input
				id="view-based-in"
				type="text"
				class="form-control"
				ng-model="$ctrl.view.basedIn"
				disabled
			/>
		</div>

		<div class="form-group">
			<label for="view-name">{{ 'Name' | translate }}</label>
			<input
				id="view-name"
				type="text"
				class="form-control"
				ng-model="$ctrl.view.name"
			/>
		</div>

		<div class="form-group">
			<label for="view-query">{{ 'View columns' | translate }}</label>

			<section class="table-preview">
				<!-- Color of this header should be populated dinamically once users have the option to choose it  -->
				<header style="background-color: rgba(155, 80, 245, 0.15)">
					<h5>TableNameGoesHere</h5>
				</header>
				<div class="table-preview-body">
					<div class="checkbox" ng-repeat="column in $ctrl.view.columns track by $index">
						<label for="{{column.name}}">
							<input
								id="{{column.name}}"
								type="checkbox"
								ng-model="$ctrl.view.columns[$index].selected"
							/>
							{{column.name}}
						</label>
					</div>
				</div>
			</section>
		</div>

		<div class="form-group">
			<label for="view-query">{{ 'Query expression' | translate }}</label>
			<textarea
				id="view-query"
				type="text"
				class="form-control query-expression-textarea"
				ng-model="$ctrl.view.query"
			></textarea>
		</div>

		<div class="card-item-actions">
			<button
				class="br-button"
				ng-click="$ctrl.save()"
			>
				{{ 'Save' | translate }}
			</button>
			<button
				class="br-button warning"
				ng-click="$ctrl.toggleForm()"
			>
			{{ 'Cancel' | translate }}
		</button>
		</div>

	</form>
</div>